<script type="text/html" id="person-template">
		<td>{{name}}</td>
		<td>{{number}}</td>
		<td>{{location}}</td>
</script>
<script type="text/html" id="person-special-template">
		<td>{{name}}</td>
		<td>|{{number}}|</td>
		<td>{{location}}</td>
</script>
<script type="text/html" id="people-template">
	<h3>{{#_i18n}}Persons{{/_i18n}}</h3>
	<table id="els" class="table">
	  <thead>
	    <th>Name</th>
	    <th>Number</th>
	    <th>Location</th>
	  </thead>
	  <tbody></tbody>
	</table>
	<a href="#cenas">cenas</a>
	<button class="btn" id="add">add</button>
</script>