<form class="form-horizontal">
  <div class="form-group">
  		<label class="col-sm-2 control-label" for="type">Task Type</label>
  		<div class="col-sm-10">
     		<input class="form-control" type="text" id="type" name="type" value="{{type}}" placeholder="Task Type" readonly>
     	</div>
 	</div>
 	<div class="form-group">
  		<label class="col-sm-2 control-label" for="type">Task Name</label>
  		<div class="col-sm-10">
     		<input class="form-control" type="text" id="type" name="type" value="{{name}}" placeholder="Task Name" readonly>
     	</div>
 	</div>
 	<div class="form-group">
  		<label class="col-sm-2 control-label" for="type">Schedule</label>
  		<div class="col-sm-10">
     		<input class="form-control" type="text" id="schedule" name="schedule" value="{{schedule}}" placeholder="Schedule">
     	</div>
 	</div>
  <div class="form-group">
	  <label class="col-sm-2 control-label" for="">Hint</label>
	  <div class="col-sm-10 well">
	  	<pre>
# * * * * *  command to execute
# ┬ ┬ ┬ ┬ ┬
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ └───── day of week (0 - 7) (0 to 6 are Sunday to Saturday, or use names; 7 is Sunday, the same as 0)
# │ │ │ └────────── month (1 - 12)
# │ │ └─────────────── day of month (1 - 31)
# │ └──────────────────── hour (0 - 23)
# └───────────────────────── min (0 - 59)
	  	</pre>
	  	<p>Examples of scheduling patterns <a target="_blank" href="http://www.sauronsoftware.it/projects/cron4j/manual.php#p02">here</a></p>
	  </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button id='confirm' class="btn btn-primary">Add</button>
    </div>
  </div>
</form>