<h3>{{#_i18n}}Task logging configuration{{/_i18n}}</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="loggingStorage">Logging Storage</label>
    <div class="col-sm-8 controls">
      <select id="loggingStorage">
      </select>
      <button type="submit" class="btn btn-success save-logging-storage">save</button>
    </div>
  </div>
</form>
<h3>{{#_i18n}}schedules{{/_i18n}}</h3>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Type</th>
			<th>Title</th>
			<th>Schedule</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>