<h3>{{#_i18n}}Task logging configuration{{/_i18n}}</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="loggingStorage">Logging Storage</label>
    <div class="col-sm-8 controls">
      <select id="loggingStorage">
      </select>
      <button type="submit" class="btn btn-success save-logging-storage">save</button>
    </div>
  </div>
</form>
<h3>Batch Operations</h3>
<div class="btn-toolbar">
  <button id="clear-schedules" class="btn btn-danger">clear all</button>
  <a href="../api/bennu-scheduler/schedule/dump" class="btn btn-success">download</a>
  <input type="file" id="input-load-dump-file" style="display:none;">
  <button id="load-schedules" class="btn btn-success">load</button>
</div>
<h3>{{#_i18n}}schedules{{/_i18n}}</h3>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Type</th>
			<th>Title</th>
			<th>Schedule</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>