<td>{{taskName}}</td>
<td>{{start}}</td>
<td>{{end}}</td>
<td>
{{#finished}}
{{#success}}
	<i class="glyphicon glyphicon-ok"><div style='display:none;'>2</div></i>
{{/success}}
{{^success}}
	<i class="glyphicon glyphicon-remove"><div style='display:none;'>3</div</i>
{{/success}}	
{{/finished}}
{{^finished}}
	<i class="glyphicon glyphicon-play"><div style='display:none;'>1</div</i>
{{/finished}}
<td>
{{#customLog}}
		<a href="#custom/{{taskName}}/{{id}}" class="btn btn-success">{{#_i18n}}action.schedule.details{{/_i18n}}</a>
		<a href="#custom/{{taskName}}" class="btn btn-success">{{#_i18n}}action.schedule.more{{/_i18n}}</a>
{{/customLog}}
{{^customLog}}
		<a href="#logs/{{taskName}}/{{id}}" class="btn btn-success">{{#_i18n}}action.schedule.details{{/_i18n}}</a>
		<a href="#logs/{{taskName}}" class="btn btn-success">{{#_i18n}}action.schedule.more{{/_i18n}}</a>
{{/customLog}}
</td>