<td>{{taskName}}</td>
<td>{{start}}</td>
<td>{{end}}</td>
<td>
{{#finished}}
{{#success}}
	<i class="icon-ok-circle"><div style='display:none;'>2</div></i>
{{/success}}
{{^success}}
	<i class="icon-ban-circle"><div style='display:none;'>3</div</i>
{{/success}}	
{{/finished}}
{{^finished}}
	<i class="icon-play"><div style='display:none;'>1</div</i>
{{/finished}}
<td>
{{#customLog}}
		<a href="#custom/{{id}}" class="btn btn-success">details</a>
{{/customLog}}
{{^customLog}}
		<a href="#logs/{{id}}" class="btn btn-success">details</a>
{{/customLog}}
</td>