/*
 * This should be common unmodifiable classes
 *
 */
.aleft { text-align: left !important; }
.aright { text-align: right !important; }
.smalltxt { font-size: 0.95em; }
.mbottom0 { margin-bottom: 0em !important; }
.mbottom025 { margin-bottom: 0.25em !important; }
.mbottom05 { margin-bottom: 0.5em !important; }
.mbottom075 { margin-bottom: 0.75em !important; }
.mbottom1 { margin-bottom: 1em !important; }
.mbottom15 { margin-bottom: 1.5em !important; }
.mbottom2 { margin-bottom: 2em !important; }
.mtop0 { margin-top: 0em !important; }
.mtop025 { margin-top: 0.25em !important; }
.mtop05 { margin-top: 0.5em !important; }
.mtop075 { margin-top: 0.75em !important; }
.mtop1 { margin-top: 1em !important; }
.mtop15 { margin-top: 1.5em !important; }
.mtop2 { margin-top: 2em !important; }
.mvert0 { margin-top: 0em !important; margin-bottom: 0em !important; }
.mvert025 { margin-top: 0.25em !important; margin-bottom: 0.25em !important; }
.mvert05 { margin-top: 0.5em !important; margin-bottom: 0.5em !important; }
.mvert1 { margin-top: 1em !important; margin-bottom: 1em !important; }
.mvert15 { margin-top: 1.5em !important; margin-bottom: 1.5em !important; }
.mvert2 { margin-top: 2em !important; margin-bottom: 2em !important; }
.aleft { text-align: left !important; }
.acenter { text-align: center !important; }
.aright { text-align: right !important; }
.dnone { display: none; }
.dinline { display: inline; }
.dblock { display: block; }
span.valid { color: #0a0; font-weight: bold; }
span.invalid { color: #a00; font-weight: bold; }
.bold { font-weight: bold; }
.inputsize40 input { width: 257px; }
.inputsize200px input { width: 200px; }
.inputsize225px input { width: 225px; }
.inputsize250px input { width: 250px; }
.inputsize300px input { width: 300px; }
.inputsize350px input { width: 350px; }
.inputsize400px input { width: 400px; }
table.thmiddle th { vertical-align: middle; }
table.thlight th { font-weight: normal; }
table.thleft th { text-align: left; }
table.thcenter th { text-align: center; }
table.thnone th { display: none; }
ul.liinline { margin: 0; padding: 0; }
ul.liinline li { display: inline; margin: 0; padding: 0 0.25em; }
.nobullet { list-style: none; }
.indent0 { margin-left: 0; padding-left: 0;  }
.indent0 li { margin-left: 0; padding-left: 0;  }
.nowrap { white-space: nowrap; }
.vatop { vertical-align: top; }