[submodule "bankai"]
	path = portal-frameworks/bankai
	url = https://github.com/ist-dsi/bankai.git
[submodule "bennu-renderers"]
	path = portal-frameworks/bennu-renderers
	url = https://github.com/pedrosan7os/bennu-renderers.git
