<h2 class="page-header" translate>Application Management</h2>

<div>
	<div class="row">


		<h3 translate>Scopes</h3>
		<button role="button" data-toggle="modal"
			class="btn btn-primary  pull-right" ng-click="showCreateScope()" translate>Create</button>


		<h4>
			<div ng-show="scopes" class="col-sm-5 pull-right">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" translate>Find</label>
						<div class="col-sm-10">
							<input type="text" ng-model="queryScopes" class="form-control" />
						</div>
					</div>
				</form>
			</div>
		</h4>



		<table class="table table-hover">
			<thead>
				<tr>
					<th><a href=""
						ng-click="predicate = 'scopeKey'; reverse=!reverse" translate>Key</a></th>
					<th><a href="" ng-click="predicate = 'name'; reverse=!reverse" translate>Name</a></th>
					<th translate>Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="scope in scopes | filter: filterScopes | orderBy:predicate:reverse">
					<td>{{scope.scopeKey}}</td>
					<td>{{scope.name}}</td>
					<td>{{scope.description}}</td>
					<td class="text-right">

						<div class="btn-group">

							<button role="button" data-toggle="modal" class="btn btn-sm"
								ng-click="showEditModal(scope)" translate>Edit</button>

							<button data-target="#modal-delete-menu" role="button"
								class="btn btn-danger btn-sm" ng-click="showDeleteModal(scope)" translate>Delete</button>
						</div>

					</td>
				</tr>
			</tbody>
		</table>

		<br /> <br />

		<h3 translate>Applications</h3>

		<h4>

			<div ng-show="applications" class="col-sm-5 pull-right">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" translate>Find</label>
						<div class="col-sm-10">
							<input type="text" ng-model="query" class="form-control" />
						</div>
					</div>
				</form>
			</div>
		</h4>

		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th class="col-sm-1"></th>
					<th translate class="col-sm-3"><a href=""
						ng-click="predicateApplications = 'name'; reverseApplication=!reverseApplication">Information</a></th>
					<th translate class="col-sm-2 text-center"><a href=""
						ng-click="predicateApplications = 'authorizations'; reverseApplication=!reverseApplication">Authorizations</a></th>
					<th translate class="col-sm-2">Redirect</th>
					<th translate class="col-sm-1">State</th>
					<th class="col-sm-4"></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="app in applications | filter: filterApplications | orderBy:predicateApplications:reverseApplication">
					<td style="vertical-align: middle" class="col-sm-1">
						<div>
							<img ng-src="{{app.getLogoUrl}}" height="55px" width="55px">
						</div>
					</td>
					<td>
					
					<b translate>Name</b><b>:</b> {{app.name}} <br>
					<b translate>Description</b><b>:</b> {{app.description}} <br>
					<b translate>Author</b><b>:</b> {{app.author}} <br>
					<b translate>Scopes</b><b>:</b> {{app.scopes | scopeNames}}</td>
					
					<td style="vertical-align: middle" class="col-sm-2 text-center">{{app.authorizations}}</td>
					<td style="vertical-align: middle">{{app.redirectUrl}}</td>
					<td style="vertical-align: middle">{{app.state | translate}}</td>
					<td style="vertical-align: middle" class="text-right">

						<div class="btn-group">


							<button role="button" data-toggle="modal" class="btn btn-sm"
								ng-click="showDetailsApplication(app)" translate>Details</button>

							<button data-target="#modal-delete-menu" role="button"
								class="btn btn-sm" ng-show="btnFilter(app.state, 'Edit')"
								ng-click="showEditApplicationModal(app)" translate>Edit</button>

							<button role="button" class="btn btn-sm"
								ng-show="btnFilter(app.state, 'Ban')"
								ng-click="showBanModal(app)" translate>Ban</button>

							<button role="button" class="btn btn-sm"
								ng-show="btnFilter(app.state, 'Unban')"
								ng-click="showUnbanModal(app)" translate>Unban</button>

							<button data-target="#modal-delete-menu" role="button"
								class="btn btn-danger btn-sm"
								ng-show="btnFilter(app.state, 'Delete')"
								ng-click="showDeleteApplicationModal(app)" translate>Delete</button>

						</div>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="modal-ban-menu" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 translate>Ban Application</h3>
			</div>
			<div class="modal-body">
				<p translate>Do you wish to ban the selected application?</p>

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn secondary btn-sm" translate>No</button>

				<button ng-click="banApplication()" data-dismiss="modal"
					class="btn btn-danger btn-sm" translate>Yes</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-unban-menu" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 translate>Unban Application</h3>
			</div>
			<div class="modal-body">
				<p translate>Do you wish to unban the selected application?</p>

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn secondary btn-sm" translate>No</button>

				<button ng-click="activeApplication()" data-dismiss="modal"
					class="btn btn-sm" translate>Yes</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-delete-application-menu" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 translate>Delete Application</h3>
			</div>
			<div class="modal-body">
				<p translate>Do you wish to delete the selected application?</p>

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn secondary btn-sm" translate>No</button>

				<button ng-click="deleteApplication()" data-dismiss="modal"
					class="btn btn-danger btn-sm" translate>Yes</button>
			</div>
		</div>
	</div>
</div>


<div id="modal-delete-menu" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 translate>Delete Scope</h3>
			</div>
			<div class="modal-body" translate>
				<p>Do you wish to delete the selected scope?</p>

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn secondary btn-sm" translate>No</button>

				<button ng-click="deleteScope()" data-dismiss="modal"
					class="btn btn-danger btn-sm" translate>Yes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addScope" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel" translate>Add Scope</h4>
			</div>
			<form ng-submit="create()" class="form-horizontal">
				<div class="modal-body">
					<div class="form-group">
						<label for="scopeKey" class="col-sm-2 control-label" translate>Key</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.scopeKey" type="text"
								ng-change="keyChange()" class="form-control" id="scopeKey"
								placeholder="{{'Key' | translate}}" required /> <span ng-show="error" translate>Key already exists</span>
						</div>
					</div>

					<div class="form-group">

						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.name" type="text"
								class="form-control" id="name" placeholder="{{'Name' | translate}}" required />
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="col-sm-2 control-label" translate>Description</label>
						<div class="col-sm-10">
							<textarea ng-model="currentscope.description"
								class="form-control" id="description" placeholder="{{'Description' | translate}}"
								rows="2" required />
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
					<button ng-disabled="error" type="submit" class="btn btn-primary" translate>Create</button>
				</div>

			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="editScope" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel" translate>Edit Scope</h4>
			</div>
			<form ng-submit="update()" class="form-horizontal">

				<div class="modal-body">

					<div class="form-group">
						<label for="scopeKey" class="col-sm-2 control-label" translate>Key</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.scopeKey" type="text"
								class="form-control" id="editScopeKey" placeholder="{{'Key' | translate}}"
								disabled />

						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-sm-2 control-label" translate>Name</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.name" type="text"
								class="form-control" id="editName" placeholder="{{'Name' | translate}}" required />
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="col-sm-2 control-label" translate>Description</label>
						<div class="col-sm-10">
							<textarea ng-model="currentscope.description"
								class="form-control" id="editDescription"
								placeholder="{{'Description' | translate}}" rows="2" required />
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
					<button type="submit" class="btn btn-primary" translate>Save</button>
				</div>

			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="detailsApplication" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel" translate>Application Details</h4>
			</div>
			<form class="form-horizontal">
				<div class="modal-body">

					<div class="form-group">

						<label for="logo" class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
							<img ng-src="{{currentapp.getLogoUrl}}" height="50px;">
						</div>
					</div>

					<div class="form-group">
						<label for="author" class="col-sm-2 control-label" translate>Author</label>
						<div class="col-sm-8">
							<input disabled type="text" ng-model="currentapp.author"
								class="form-control" id="author">
						</div>
					</div>


					<div class="form-group">
						<label for="name" class="col-sm-2 control-label" translate >Name</label>
						<div class="col-sm-8">
							<input disabled type="text" ng-model="currentapp.name"
								class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="col-sm-2 control-label" translate>Description</label>
						<div class="col-sm-8">
							<textarea disabled class="form-control"
								ng-model="currentapp.description" id="description" rows="2"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="siteUrl" class="col-sm-2 control-label" translate>Site</label>
						<div class="col-sm-8">
							<input disabled type="text" ng-model="currentapp.siteUrl"
								class="form-control" id="siteUrl">
						</div>
					</div>

					<div class="form-group">
						<label for="redirectUrl" class="col-sm-2 control-label">Redirect
							Url</label>
						<div class="col-sm-8">
							<input disabled type="text" class="form-control"
								ng-model="currentapp.redirectUrl" id="redirectUrl">
						</div>
					</div>

					<div class="form-group">
						<label for="scopes" class="col-sm-2 control-label" translate>Scopes</label>
						<div class="col-sm-8">
							<textarea disabled type="text" class="form-control" id="scopes">{{currentapp.scopes | scopeNames}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="clientId" class="col-sm-2 control-label" >Client Id</label>
						<div class="col-sm-8">
							<input disabled type="text" class="form-control"
								ng-model="currentapp.id" id="clientId">
						</div>
					</div>

					<div class="form-group">
						<label for="secret" class="col-sm-2 control-label">Client Secret</label>
						<div class="col-sm-8">
							<textarea disabled type="text" class="form-control"
								ng-model="currentapp.secret" id="secret" rows="3" />
						</div>
					</div>

					<div class="form-group">
						<label for="state" class="col-sm-2 control-label" translate>State</label>
						<div class="col-sm-8">
							<input disabled type="text" class="form-control"
								ng-model="currentapp.state" id="state" />
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="editApplicationManager" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel" translate>Edit Application</h4>
			</div>
			<form ng-submit="updateApplication()" class="form-horizontal">
				<div class="modal-body">

					<div class="form-group">

						<label for="logo" class="col-sm-2 control-label">Logo</label>
						<div class="col-sm-8">
							<input type="file" ng-model="currentapp.logo" name="logo"
								id="logo"
								onchange="angular.element(this).scope().fileNameChanged(this,'logo')" />
						</div>
					</div>

					<div class="form-group">
						<label for="author" class="col-sm-2 control-label" translate>Author</label>
						<div class="col-sm-8">
							<input type="text" ng-model="currentapp.author"
								ng-required="true" class="form-control" id="author">
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-sm-2 control-label" translate>Name</label>
						<div class="col-sm-8">
							<input type="text" ng-model="currentapp.name" ng-required="true"
								class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="col-sm-2 control-label" translate>Description</label>
						<div class="col-sm-8">
							<textarea class="form-control" ng-model="currentapp.description"
								id="description" ng-required="true" placeholder="Description"
								rows="2"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="siteUrl" class="col-sm-2 control-label">Site</label>
						<div class="col-sm-8">
							<input type="url" ng-model="currentapp.siteUrl"
								class="form-control" id="siteUrl" placeholder="Site">
						</div>
					</div>

					<div class="form-group">
						<label for="redirectUrl" class="col-sm-2 control-label">Redirect
							Url</label>
						<div class="col-sm-8">
							<input type="text" class="form-control"
								ng-model="currentapp.redirectUrl" id="redirectUrl"
								ng-required="true" placeholder="Redirect Url">
						</div>
					</div>

					<div class="form-group">
						<label for="redirectUrl" class="col-sm-2 control-label" translate>Scopes</label>
						<div class="col-sm-10">

							<div for="" ng-repeat="scope in currentapp.scopes">
								<input type="checkbox" value="scope.name"
									ng-model="scope.selected"> {{scope.name}}
							</div>


						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
					<button type="submit" class="btn btn-primary" translate>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<br />

<style>
.table {
	table-layout: fixed;
	word-wrap: break-word;
}

a {
	color: #4b565c;
}
</style>
