<h2 class="page-header">Application Management</h2>

<div>
	<div class="row">
		<div class="col-sm-4">
			<form class="form-horizontal" ng-submit="doSearch()">
				<div class="form-group">
					<label for="searchText" class="col-sm-2 control-label">Find</label>
					<div class="col-sm-10">
						<input type="text" ng-model="query" class="form-control" />
					</div>
				</div>
			</form>
		</div>

		<div class="col-sm-8">
			<h4>
				Scopes
				<button role="button" data-toggle="modal"
					class="btn btn-primary btn-sm pull-right"
					ng-click="showCreateScope()">Create</button>
			</h4>


			<table class="table table-hover">
				<thead>
					<tr>
						<th>Key</th>
						<th>Name</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="scope in scopes">
						<td class="col-md-1">{{scope.scopeKey}}</td>
						<td class="col-md-1">{{scope.name}}</td>
						<td class="col-md-3">{{scope.description}}</td>
						<td class="col-md-2">


							<button role="button" data-toggle="modal"
								class="btn btn-sm" ng-click="showEditModal(scope)">Edit</button>

							<button data-target="#modal-delete-menu" role="button"
								class="btn btn-danger btn-sm" ng-click="showDeleteModal(scope)">Delete</button>


						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="modal-delete-menu" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3>Delete Item</h3>
			</div>
			<div class="modal-body">
				<p>Do you wish to delete the selected item?</p>

			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn secondary btn-sm">No</button>

				<button ng-click="deleteScope()" data-dismiss="modal"
					class="btn btn-danger btn-sm">Yes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addScope" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add Scope</h4>
			</div>
			<form ng-submit="create()" class="form-horizontal">
				<div class="modal-body">
					<div class="form-group">
						<label for="scopeKey" class="col-sm-2 control-label">Key</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.scopeKey" type="text" class="form-control"
								id="scopeKey" placeholder="Key" required />
						</div>
					</div>

					<div class="form-group">

						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.name" type="text" class="form-control" id="name"
								placeholder="Name" required />
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea ng-model="currentscope.description" class="form-control"
								id="description" placeholder="Description" rows="2" required />
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button onclick="$('#addScope').modal('hide');" type="submit"
						class="btn btn-primary">Create</button>									
												
				</div>

			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="editScope" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit Scope</h4>
			</div>
			<form ng-submit="update()" class="form-horizontal">

				<div class="modal-body">

					<div class="form-group">
						<label for="scopeKey" class="col-sm-2 control-label">Key</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.scopeKey" type="text" class="form-control"
								id="editScopeKey" placeholder="Key" disabled/>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input ng-model="currentscope.name" type="text" class="form-control"
								id="editName" placeholder="Name" required />
						</div>
					</div>

					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea ng-model="currentscope.description" class="form-control"
								id="editDescription" placeholder="Description" rows="2" required />
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button onclick="$('#editScope').modal('hide');" type="submit"
						class="btn btn-primary">Save</button>
				</div>

			</form>
		</div>
	</div>
</div>



<br />

<div ng-show="currentSearch">
	<h4>
		Search for '{{currentSearch}}' <span class="badge">{{applications.length}}<span
			ng-if="users.length == 20">+</span> hit<span
			ng-if="users.length != 1">s</span></span>
	</h4>

	<table class="table table-hover">
		<thead>
			<tr>
				<th width="40px"></th>
				<th>Username</th>
				<th>Display Name</th>
				<th>Email</th>
				<th>Locale</th>
				<th>Active</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="application in applications">
				<td><img ng-src="{{user.avatar}}?s=40" class="img-circle"
					width="40" /></td>
				<td>{{application.name}}</td>
				<td>{{application.description}}</td>
				<td><span class="glyphicon glyphicon-ok" ng-if="user.active"></span></td>
				<td><a ng-href="#/user-management/{{user.username}}"
					class="btn btn-xs btn-primary">Manage</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="managersModal">
	<form class="modal-dialog form-horizontal" ng-submit="changeManagers()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Change Managers</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Expression</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="managersExpr"
							ng-change="updateGroupInfo()" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="text-danger group-error" ng-if="groupError">{{groupError}}</div>
						<div ng-if="groupData && !groupError">
							<p>
								<strong>Name:</strong> {{groupData.name}}
							</p>
							<p>
								<strong>Accessible:</strong> {{groupData.accessible}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-success">Change</button>
			</div>
		</div>
	</form>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="app in applications">
			<td>{{app.name}}</td>
			<td>{{app.description}}</td>
			<td>{{app.author}}</td>
		</tr>
	</tbody>
</table>

