<div ng-cloak>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="" data-target="#stores" data-toggle="tab">Storages</a></li>
		<li role="presentation"><a href="" data-target="#configs" data-toggle="tab">Configurations</a></li>
	</ul>
	<br />
	<div class="tab-content">
		<div class="tab-pane active" id="stores">
			<div class="alert alert-danger alert-dismissible" ng-if="error">
				{{error.message}} {{error.stacktrace}}
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>

			<div class="alert" ng-if="!storages">
			Loading...
			</div>

			<div class="row">
				<div class="col-sm-6">
					<button class="btn btn-primary" data-toggle="modal" data-target="#newStorageModal"><span class="glyphicon glyphicon-plus"></span> New</button>
				</div>
				<div class="col-sm-offset-3 col-sm-3">
					<input type="text" class="form-control" ng-model="filter" placeholder="Filter...">
				</div>
			</div>
			<table class="table table-striped" ng-if="storages">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Path</th>
						<th>Nr. of Files</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="storage in storages | filter:filter | orderBy:'name'">
						<td>{{storage.name}}</td>
						<td>{{storage.type}}</td>
						<td>{{storage.path}}</td>
						<td ng-if="counts"><code>{{counts[storage.id]}}</code></td>
						<td ng-if="!counts">Loading...</td>
						<td>
							<button class="btn btn-sm btn-default" ng-if="!storage.default" ng-click="setDefault(storage)">Set Default</button>
							<button class="btn btn-sm btn-default" ng-if="storage.default" disabled>Default</button>
							<button class="btn btn-sm btn-danger" ng-class="{disabled: storage.default || !counts || counts[storage.id] > 0}" ng-click="delete(storage)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="modal fade" id="newStorageModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">New Storage</h4>
						</div>
						<div class="modal-body">
							<ul class="nav nav-tabs">
								<li class="active"><a href="" data-target="#domainStore" data-toggle="tab">Domain Store</a></li>
								<li><a href="" data-target="#localFSStore" data-toggle="tab">File System Store</a></li>
								<li><a href="" data-target="#driveAPIStore" data-toggle="tab">Drive API Store</a></li>
							</ul>
							<br />
							<div class="tab-content clearfix">
								<div class="tab-pane active" id="domainStore">
									<form class="form-horizontal" ng-submit="newDomainStorage()">
										<div class="form-group">
											<label for="domainName" class="col-sm-4 control-label">Name</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="domainName" ng-model="domainName" required placeholder="Name">
											</div>
										</div>
									    <button type="submit" class="btn btn-primary pull-right">Create</button>
									</form>
								</div>
								<div class="tab-pane" id="localFSStore">
									<form class="form-horizontal" ng-submit="newFSStorage()">
										<div class="form-group">
											<label for="fsName" class="col-sm-4 control-label">Name</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="fsName" ng-model="fsName" required placeholder="Name">
											</div>
										</div>
										<div class="form-group">
											<label for="path" class="col-sm-4 control-label">Path</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="path" ng-model="path" required placeholder="Path">
											</div>
										</div>
										<div class="form-group">
											<label for="treeLen" class="col-sm-4 control-label">Tree Directories Length</label>
											<div class="col-sm-8">
												<input type="number" class="form-control" id="treeLen" ng-init="treeLen = 3" ng-model="treeLen" min="1" max="6" required placeholder="Tree Directories Name Length">
											</div>
										</div>
									    <button type="submit" class="btn btn-primary pull-right">Create</button>
									</form>
								</div>
								<div class="tab-pane" id="driveAPIStore">
									<form class="form-horizontal" ng-submit="newDriveStorage()">
										<div class="form-group">
											<label for="driveName" class="col-sm-4 control-label">Name</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="driveName" ng-model="driveName" required placeholder="Name">
											</div>
										</div>
										<div class="form-group">
											<label for="driveUrl" class="col-sm-4 control-label">Drive URL</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="driveUrl" ng-model="driveUrl" required placeholder="Path">
											</div>
										</div>
										<div class="form-group">
											<label for="remoteUsername" class="col-sm-4 control-label">Remote Username</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="remoteUsername" ng-model="remoteUsername" required placeholder="Path">
											</div>
										</div>
										<div class="form-group">
											<label for="remoteDirectoryId" class="col-sm-4 control-label">Remote Directory ID</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="remoteDirectoryId" ng-model="remoteDirectoryId" required placeholder="Path">
											</div>
										</div>
										<button type="submit" class="btn btn-primary pull-right">Create</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="configs">
			<div class="alert" ng-if="!configs">
			Loading...
			</div>

			<div class="row">
				<div class="col-sm-offset-9 col-sm-3">
					<input type="text" class="form-control" ng-model="configFilter" placeholder="Filter...">
				</div>
			</div>
			<table class="table table-striped" ng-if="configs">
				<thead>
					<tr>
						<th>File Type</th>
						<th>Repository</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="config in configs | filter: configFilter | orderBy:'type'" ng-class="{success: config.success}" >
						<td>{{config.type}}</td>
						<td>
							<select class="form-control" ng-model="config.storage.id" ng-change="save(config)" ng-options="storage.id as storage.name group by storage.type for storage in storages | orderBy:'name'">
								<option value="null">----</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>