.f-tag-field {
  @extend .f-field__input;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  margin: 1.5em 0 1em;
  padding: 0.5em 1em;
}
.f-tag-field.f-tag-field--lg {
  font-size: 1.125rem;
}
.f-tag-field__tag {
  @include tag-basics;

  margin: 0.25rem;
  // disable text select so it is possible to drag and drop
  user-select: none;
  cursor: grab;
  // to correct the remove botton
  padding-right: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.f-tag-field__label {
  @extend .f-tag-field__label;

  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  padding: 0.45rem 0;
  transform: translate(0, -1.75em) scale(0.75);
}
.f-tag-field__input {
  appearance: none;
  -webkit-appearance: none;
  // border: none;
  box-shadow: none;
  line-height: 1.6;
  margin: 0.25rem 0.25rem 0.25rem 0;
  padding: 0.25rem;
  margin-left: 0.5rem;

  &:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  font-size: 1rem;
  &::placeholder {
    font-size: 1.125rem;
    font-weight: 600;
    color: $gray-300;
  }

  //height: 1.75rem;
  // the border prevents missmatching between input and tag height
  border: 0.0625rem solid transparent;
  // // this ensures that the input allways has the max width possible and still wraps with the other tags
  margin-right: 0;
  flex-grow: 1;
  // // this ensures the minimum value of the input so it breaks before
  min-width: 10rem;
}
.f-tag-field__tag-remove {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;

  .circle--stroke,
  .cross--stroke {
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    .circle--stroke {
      stroke: $slate;
      fill: $slate;
    }
    .cross--stroke {
      stroke: #fff;
    }
  }
}
