<div class="row">
	<div class="col-sm-6 lead">
		Task Logs <span class="badge">{{logs.length}}</span>
	</div>

	<div class="col-sm-3 text-right">
		<div class="btn-group">
			<a ui-sref="scheduler.logs({type: ''})" class="btn btn-default" ng-if="type">« Back</a>
			<button class="btn btn-default" ng-click="reload()"><i class="glyphicon glyphicon-refresh"/></button>
		</div>
	</div>
	<div class="col-sm-3">
		<input type="text" class="form-control pull-right" ng-model="filter" placeholder="Filter..."/>
	</div>
</div>

<table class="table table-striped" ng-show="logs != null && logs.length">
	<thead>
		<tr>
			<th>Task Name</th>
			<th>Start</th>
			<th>End</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs | orderBy:'-start' | filter: filter">
			<td>{{log.taskName}} <span class="badge" ng-if="log.code">Custom</span></td>
			<td>{{(log.start | date:'dd MMM yyyy HH:mm:ss') || 'N/A'}}</td>
			<td>{{(log.end | date:'dd MMM yyyy HH:mm:ss') || 'N/A'}}</td>
			<td ng-if="log.end">
				<i class="glyphicon glyphicon-ok" ng-if="log.state == 'SUCCESS'" />
				<i class="glyphicon glyphicon-remove" ng-if="log.state == 'FAILURE'" />
			</td>
			<td ng-if="!log.end">
				<i class="glyphicon glyphicon-play" />
			</td>
			<td>
				<a ui-sref="scheduler.log-details({type: log.taskName, id: log.id})" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> Details</a>
				<a ui-sref="scheduler.logs({type: log.taskName})" class="btn btn-sm btn-default" ng-if="!type"><span class="glyphicon glyphicon-list"></span> More</a>
			</td>
		</tr>
	</tbody>
</table>

<div ng-show="moreResults && type && logs.length">
	<em>Not all results may be shown. <a ng-click="loadMore()" role="button">Click here to load more</a>.</em>
</div>

<div class="panel panel-default" ng-show="logs != null && !logs.length">
	<div class="panel-body">
        <p><span class="glyphicon glyphicon-info-sign"></span> There are no task logs</p>
        <small>No tasks have been run yet. You can schedule tasks <a ui-sref="scheduler.tasks">here</a>, or run a custom task <a ui-sref="scheduler.custom-new">here</a>.</small>
	</div>
</div>