<style>
	.table {
		margin-bottom: 0px;
	}
</style>
<h3>
	Task Logs
	<small>{{type}}</small>

	<div class="pull-right btn-group">
		<a ui-sref="scheduler.logs({type: ''})" class="btn btn-default" ng-if="type">« Back</a>
		<button class="btn btn-default" ng-click="reload()"><i class="glyphicon glyphicon-refresh"/></button>
	</div>
</h3>

<div class="text-center" ng-if="logs == null">
	<h3>Loading...</h3>
</div>

<div ng-show="logs">
	Search: <input type="text" ng-model="filter"/>
</div>
<table class="table table-condensed" ng-show="logs != null">
	<thead>
		<tr>
			<th>Task Name</th>
			<th>Start</th>
			<th>End</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-init="totalDisplayed = 20">
		<tr ng-repeat="log in logs | orderBy:'-start' | filter: filter | limitTo: totalDisplayed">
			<td>{{log.taskName}} <span class="label label-success" ng-if="log.code">Custom</span></td>
			<td>{{(log.start | date:'dd MMM yyyy HH:mm:ss') || 'N/A'}}</td>
			<td>{{(log.end | date:'dd MMM yyyy HH:mm:ss') || 'N/A'}}</td>
			<td ng-if="log.end">
				<i class="glyphicon glyphicon-ok" ng-if="log.state == 'SUCCESS'" />
				<i class="glyphicon glyphicon-remove" ng-if="log.state == 'FAILURE'" />
			</td>
			<td ng-if="!log.end">
				<i class="glyphicon glyphicon-play" />
			</td>
			<td>
				<a ui-sref="scheduler.log-details({type: log.taskName, id: log.id})" class="btn btn-success">Details</a>
				<a ui-sref="scheduler.logs({type: log.taskName})" class="btn btn-success" ng-if="!type">More</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="row" ng-show="logs != null">
	<hr />
	<div class="col-sm-2">
		Showing {{totalDisplayed > logs.length ? logs.length : totalDisplayed}} of {{logs.length}}
	</div>
	<div class="col-sm-8 text-center">
		<button class="btn btn-success" ng-show="totalDisplayed < logs.length" ng-click="totalDisplayed = totalDisplayed + 20">Load More</button>
	</div>
</div>
