<div class="row">
  <div class="col-sm-6 lead">
    Schedules <span class="badge">{{schedules.length}}</span>
  </div>
  <div class="col-sm-offset-3 col-sm-3">
    <input type="text" class="form-control" ng-model="filter" placeholder="Filter...">
  </div>
</div>

<table class="table table-striped" ng-show="schedules.length">
  <thead>
    <tr>
      <th>Type</th>
      <th>Schedule</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="schedule in schedules | filter: filter | orderBy:'type'">
      <td>{{schedule.type}}</td>
      <td><code>{{schedule.schedule}}</code></td>
      <td>
        <a ui-sref="scheduler.logs({type: schedule.type})" ng-show="!showDelete" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span> Logs</a>
        <button class="btn btn-default btn-sm" ng-show="!showDelete" ng-click="showDelete = true"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <span ng-show="showDelete">
          Are you sure?
          <div>
            <button class="btn btn-danger btn-sm" href="" ng-click="delete(schedule)">Yes</button>
            <button class="btn btn-default btn-sm" href="" ng-click="showDelete = false">No</button>
          </div>
        </span>
      </td>
    </tr>
  </tbody>
</table>


<div class="panel panel-default" ng-show="!schedules.length">
    <div class="panel-body">
        <p><span class="glyphicon glyphicon-info-sign"></span> There are no scheduled tasks</p>
        <small>You can create new schedules <a ui-sref="scheduler.tasks">here</a>, or upload a previous configuration.</small>
    </div>
</div>
