<h2 class="page-header">User Management <small class="badge" ng-if="user.username">{{user.id}}</small></h2>

<form role="form" class="form-horizontal" ng-submit="save(user)">
  <div class="form-group">
    <label for="input-avatar" class="col-sm-2 control-label">Avatar</label>
    <div class="col-sm-10">
      <div class="col-sm-3">
        <label class="radio">
          <input type="radio" value="gravatar" ng-model="avatarchoice" ng-change="updateGravatar()"> Gravatar
        </label>
        <label class="radio">
          <input type="radio" value="custom" ng-model="avatarchoice"> Specify Url
        </label>
        <label class="radio">
          <input type="radio" value="upload" ng-model="avatarchoice"> Upload File
        </label>
      </div>
      <div class="col-sm-9" ng-if="avatarchoice == 'gravatar'">
        <img id="img-gravatar" ng-src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=150" class="img-thumbnail" />
      </div>
      <div class="col-sm-9" ng-if="avatarchoice == 'custom'">
        <img class="img-thumbnail" ng-src="{{user.avatar}}?s=150" />
        <input type="url" class="form-control" id="input-avatar" ng-model="user.avatar" placeholder="Avatar URL template" class="img-thumbnail"/>
      </div>
      <div class="col-sm-9" ng-if="avatarchoice == 'upload'">
        <div class="row">
          <div id="cropzone" class="col-sm-5">
            <img id="img-gravatar" ng-src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=150" class="img-thumbnail"/>
          </div>
        </div>
        <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" />
      </div>
    </div>
	</div>
  <div class="form-group" ng-if="!newUser">
    <label for="input-name" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10" style="padding-top: 7px">
        <code>{{user.username}}</code>
      </div>
  </div>
  <div class="form-group">
    <label for="input-name" class="col-sm-2 control-label">Full Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input-name" ng-model="user.givenNames" ng-change="updateDisplayName(user)" placeholder="Given Names" required/>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input-family-name" ng-model="user.familyNames" ng-change="updateDisplayName(user)" placeholder="Family Names" required/>
      </div>
  </div>
  <div class="form-group">
    <label for="input-displayname" class="col-sm-2 control-label">Display Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input-displayname" ng-model="user.displayName" placeholder="Display Name" required/>
    </div>
  </div>
  <div class="form-group">
    <label for="input-email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="input-email" ng-model="user.email" ng-blur="updateGravatar()" placeholder="Enter email" required/>
    </div>
  </div>
  <div class="form-group">
    <label for="input-language" class="col-sm-2 control-label">Preferred Language</label>
    <div class="col-sm-10">
      <select id="input-language" class="form-control" ng-model="user.preferredLocale" ng-options="locale.displayName for locale in locales track by locale.tag">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="input-password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="input-password" ng-model="user.password" placeholder="Password" ng-required="newUser"/>
    </div>
  </div>
  <div class="form-group">
    <label for="input-password2" class="col-sm-2 control-label">Password (Again)</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="input-password2" ng-model="user.passwordCheck" placeholder="Password (Again)" ng-required="newUser"/>
    </div>
  </div>
  <div class="form-group">
    <label for="expiration" class="col-sm-2 control-label">Expiration</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" id="expiration" ng-model="user.expiration" placeholder="Expiration"/>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" ng-if="errors">{{errors}}</div>
  <div class="alert alert-success" role="alert" ng-show="success">User {{user.displayName}} edited successfully!</div>
  <a href="#/user-management" class="btn btn-default">« Back</a>
  <button ng-if="newUser" class="btn btn-primary">Create User</button>
  <button ng-if="!newUser" class="btn btn-success">Edit User</button>
</form>