<style>
kbd { color: #666; border-radius: 0; box-shadow: none; background-color: initial; padding: 0; }

.loading { position: absolute; left: 10px; bottom: 10px;}
</style>

<h2>Domain Browser</h2>

<div class="row">
	<div class="col-sm-10">
		<h3>{{data.type}} <span class="label label-primary">{{data.oid}}</span>
		<span class="label" ng-class="{'label-success': mod == 'PUBLIC', 'label-warning': mod == 'PROTECTED'}" ng-repeat="mod in data.modifiers">
			{{mod | capitalize}}
		</span>
		</h3>
	</div>
	<div class="col-sm-2" style="margin-top: 20px">
		<input type="text" class="pull-right form-control text-center input-sm" ng-model="oid" ng-keyup="$event.keyCode == 13 ? reload() : null">
	</div>

</div>

<table class="table" ng-if="data">
	<thead>
		<th>Name</th>
		<th>Value</th>
		<th>Type</th>
		<th>Modifiers</th>
	</thead>
	<tbody>
		<tr ng-repeat="slot in data.slots | orderBy:'name'">
			<td>{{slot.name}}</td>
			<td>
				<kbd ng-if="!slot.value" style="color: #999">null</kbd>
				<span ng-if="slot.value.length > 50">
					{{slot.value | limitTo: 50}}…
					<button class="btn btn-default btn-xs" ng-click="slot.open = !slot.open"><small>…</small></button>
					<div ng-show="slot.open" style="font-family: monospace">{{slot.value}}</div>
				</span>
				<span ng-if="slot.value.length <= 50">
					{{slot.value}}
				</span>
			</td>
			<td><kbd>{{slot.type}}</kbd></td>
			<td>
				<span class="label" ng-class="{'label-success': mod == 'PUBLIC', 'label-warning': mod == 'PROTECTED'}" ng-repeat="mod in slot.modifiers">
					{{mod}}
				</span>
			</td>
		</tr>
		<tr ng-repeat="slot in data.relationSlots | orderBy:'name'">
			<td>{{slot.name}}</td>
			<td>
				<kbd ng-if="!slot.value" style="color: #999">null</kbd>
				<a href="#/domain-browser/{{slot.value}}" ng-if="slot.value">
					{{slot.value}}
				</a>
			</td>
			<td><kbd>{{slot.type}}</kbd></td>
			<td>
				<span class="label" ng-class="{'label-success': mod == 'PUBLIC', 'label-warning': mod == 'PROTECTED'}" ng-repeat="mod in slot.modifiers">
					{{mod}}
				</span>
			</td>
		</tr>
	</tbody>
</table>

<div class="col-sm-offset-3 col-sm-6" ng-if="error">
	<div class="alert alert-danger">
		<h4>An error ocurred</h4>
		<p>The server returned an error loading object <kbd>{{id}}</kbd>.</p>
		<p class="text-right">
			Status code: {{error}}
		</p>
	</div>
</div>

<div class="row" ng-if="data.relationSets">
	<div class="col-lg-6">
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Type</th>
				<th>Modifiers</th>
				<th>Count</th>
			</thead>
			<tbody>
				<tr ng-repeat="role in data.relationSets | orderBy:'name'">
					<td><a href="" data-toggle="modal" data-target="#relations" ng-click="exploreRelation(role.name)">{{role.name}}</a></td>
					<td>{{role.type}}</td>
					<td>
						<span class="label" ng-class="{'label-success': mod == 'PUBLIC', 'label-warning': mod == 'PROTECTED'}" ng-repeat="mod in role.modifiers">
							{{mod}}
						</span>
					</td>
					<td>
						<button class="btn btn-xs btn-default" ng-if="relationCounts[role.name] == null" ng-click="loadRelationCount(role.name)">Load</button>
						<button class="btn btn-xs btn-default" ng-if="relationCounts[role.name] == -1" disabled>Loading...</button>
						<code ng-if="relationCounts[role.name] != null && relationCounts[role.name] != -1">{{relationCounts[role.name]}}</code>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="relations">
	<div class="modal-dialog" style="width: 900px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title">{{data.oid}}'s {{relation}}</h2>
			</div>
			<div class="modal-body">
				<div ng-if="!relations && !relError">
					<h5>Please wait while the satellite moves into position...</h5>
				</div>
				<div ng-if="relError" class="alert alert-danger">
					<h4 class="text-center">An error ocurred loading the relation</h4>
					<p class="text-right">Status code: {{relError}}</p>
				</div>
				<table class="table" ng-if="relations != null">
					<span ng-if="relations != null" class="pull-right">{{totalEntries}} entries</span>
					<thead>
						<th>Object</th>
						<th>Type</th>
					</thead>
					<tr ng-repeat="obj in relations[currentPage]">
						<td><a href="#/domain-browser/{{obj.oid}}">{{obj.oid}}</a></td>
						<td>{{obj.type}}</td>
					</tr>
				</table>
				<div class="center" ng-if="relations.length > 1">
					<ul class="pagination">
						<li ng-click="previousPage()" ng-class="{disabled: currentPage <= 0}">
							<a href >«</a>
						</li>
						<li class="disabled">
							<a href>{{currentPage + 1}} / {{relations.length}}</a>
						</li>
						<li ng-click="nextPage()" ng-class="{disabled: currentPage >= relations.length - 1}">
							<a href >»</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>