<h1>JMX Browser</h1>

<style>
kbd { color: #666; border-radius: 0; box-shadow: none; background-color: initial; padding: 0; }
</style>

<div ng-if="data">
	<ul class="nav nav-pills">
		<li ng-repeat="(name, domain) in data">
			<a href="#/jmx-browser" data-target="#{{name}}" data-toggle="tab" ng-click="setDomain(domain)">{{name}}</a>
		</li>
	</ul>

	<div class="row" ng-if="currentDomain">
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Properties</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bean in currentDomain | orderBy:'name.properties.type'" ng-click="show(bean)" style="cursor: pointer">
						<td width="50%">
							<h5>{{bean.name.properties.type}} {{bean.name.properties.name}}</h5>
							<p class="small">Class: <code>{{bean.className}}</code></p>
							<p class="small">Description: {{bean.description}}</p>
						</td>
						<td>
							<ul class="list-group">
								<li ng-repeat="(key, value) in bean.name.properties" class="list-group-item">
									<strong>{{key}}: </strong>{{value}}
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h3 class="col-sm-12 text-center" ng-if="!currentDomain">
		Please select a domain from the list above
	</h3>
</div>

<div class="col-sm-12 text-center" ng-if="!data">
	<h3>Loading...</h3>
</div>

<div class="modal fade" id="attributes">
	<div class="modal-dialog" style="width: 900px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title">{{selected.name.properties.type}} {{selected.name.properties.name}}</h2>
			</div>
			<div class="modal-body">
				<table class="table table-hover table-responsive">
					<thead>
						<th>Name</th>
						<th>Value</th>
					</thead>
					<tbody>
						<tr ng-repeat="attr in selected.attributes">
							<td title="{{attr.type}}" width="25%">{{attr.name}}</td>
							<td style="word-wrap: break-word;max-width: 500px">
								<kbd ng-if="!attr.value" style="color: #999">null</kbd>
								<span ng-if="!isObject(attr.value)">
									{{attr.value}}
								</span>
								<div ng-if="isObject(attr.value)">
									<div ng-repeat="(key, val) in attr.value track by $index">
										<strong ng-if="!isArray(attr.value)">{{key}} </strong> {{val | number}}
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>