/* 
Typesetting the pixels
*/

body, input, select {
	font-size:100%;
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .intro {
	font-weight:200;
	-webkit-font-smoothing: antialiased;
}

.intro strong {
	font-weight:400;
}

p {
	color:#666;
	font-family:'Lucida Grande', Tahoma, Arial, sans-serif;
	font-size:0.7em;
	line-height:1.3em;
}

blockquote, pre {
	
}

abbr, address, cite, code {
	
}