<h3>Task logging configuration</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="loggingStorage">Logging Storage</label>
    <div class="col-sm-4 controls">
    <select ng-model="config.loggingStorage.id" ng-options="store.id as store.name for store in config.availableStorages">
    </select>
    <button type="submit" class="btn btn-success" ng-click="saveStore()" ng-class="{'disabled': saving }">Save</button>
    </div>
    <label>Running:</label> {{config.running}}
  </div>
</form>

<h3>Batch Operations</h3>
<div class="btn-toolbar">
  <button class="btn btn-danger" ng-click="clear()">Clear all</button>
  <a href="../api/bennu-scheduler/schedule/dump" class="btn btn-success">Download</a>
  <input type="file" id="input-load-dump-file" style="display:none;">
  <button class="btn btn-success" ng-click="load()">Load</button>
</div>

<h3>Schedules</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Schedule</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="schedule in schedules">
      <td>{{schedule.type}}</td>
      <td>{{schedule.name}}</td>
      <td>{{schedule.schedule}}</td>
      <td>
      <button class="btn btn-danger btn-sm" ng-click="delete(schedule)">Delete</button>
      <a href="#logs/{{schedule.type}}" class="btn btn-success btn-sm">Logs</a>
      </td>
    </tr>
  </tbody>
</table>