/* --------------------------------------------------
CSS Document For Leaves v1.0 - Anthonyy @ OSWD.org
-------------------------------------------------- */

/* HEADER ELEMENTS */

		#header {
			border-bottom: 4px solid #948979;
			padding-top: 10px;
			clear: both;
			margin-bottom: 10px;
		}
		

		/* the slogan */
		#header p { 
			margin-top: -20px;
			margin-left: 30px;
			color: #999999;
		}

		body {
			color: #333;
			background:#fff url("../CSS/header_bck.gif") repeat-x left top;
		}

/* NAVIGATION ELEMENTS */

		 #navigation {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;			
			float: left;
			width: 140px;
		}
	
		 #navlist ul {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;			
			float: left;
			width: 140px;
		}

		.navsublist {
			margin-left: 15px;
		}

		#navlist a {
			display: block;
			padding: 5px;
			border-bottom: 1px solid #CCC;
		}

		#navlist a:link a:visited {
			color:#CC6714;
			text-decoration: none;
		}
		
		#navlist a:hover {
			background: #000000 url(arrow.gif) 96% 50% no-repeat;
			background-color: #F5F5F5;
			color:#CC6714;
		}

		.navigationContentMove {
			display: block;
			padding: 5px;
			width: 140px;
			border-bottom: 1px solid #CCC;
			color:#CC6714;
			text-decoration: none;
		}


/* THE SMALL BOX BELOW NAV */

		#navlist p {
			margin-top: 40px;
			padding: 5px;
			border-bottom: 1px dotted #CCC;
			border-top: 1px dotted #CCC;
		}

		#navops p {
			margin-top: 40px;
			padding: 5px;
			border-bottom: 1px dotted #CCC;
			border-top: 1px dotted #CCC;
		}

/* CONTENT ELEMENTS */

		#content {
			/* width: 562px; */
			width: 80%;
			margin-left: 175px;
			margin-right: 100px;
		}
		
		#content p {
		}

		.contentStructuredP {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

/* SIDEBAR ELEMENTS */

		#sidebar {
			float: right;
			width: 175px;
		}
		
		#sidebar p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

/* OTHER ELEMENTS */

		#pageops {
			float: right;
		}
		
		#pageops p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

		#beadCrumbs {
			float: left;
		}
		
		#beadCrumbs p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

/* FOOTER ELEMENTS */

		#footer {
			margin-top: 20px;
			clear: both;
			background-color:#575352;
			padding: 0px 5px 0px 5px;
		}
		
		#footer p {
			color:#89817f;
			padding: 5px;
		}
		
		#footer p a {
			color: #89817f;
			border-bottom: 1px dotted #89817f;
		}
		
		#footer p a:hover {
			color: #FFFFFF;
			background-color:#575352;
		}

		#footer strong {
			margin-top: -17px;
			float: right;
			border-bottom: 1px;
		}

		/* And they lived happily ever after. The End. */