/* --------------------------------------------------
CSS Document For Leaves v1.0 - Anthonyy @ OSWD.org
-------------------------------------------------- */

/* CONTAINER */

		#container {
			width: 95%;
			margin: 0 auto;
			font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; /* Lucida Grande for the Macs, Tahoma for the PCs */
			font-size: 11px;
			line-height: 1.6em;
			color: #666;
			background-color: #FFF;
		}
		
/* GENERAL MOJO AND MULA */
		
		h1 {
			font-family: Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-size: 32px;
			color: #CC6633;
			margin-bottom: 30px;
			background-color: #FFF;
		}
		
		h2 {
			color: #666666;
			font-size: 16px;
			font-family: Arial, Helvetica, sans-serif;
			background-color: #FFF;
			padding-bottom: 10px;
			border-bottom: 2px solid #DDDDDD;
		}

		h3 a {
			float: right;
			color: #CC6714;
			text-decoration: none;
			font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
			font-size: 11px;
		}

		a {
			color:#CC6714;
			text-decoration: none;
		}

		a:hover {
			color:#CC6714;
			background-color: #F5F5F5;
		}

		
		form {
			margin-top: 0px;
			font-size: 9px;
		}

		form.login {
			float:right;
			margin-top: 0px;
			font-size: 9px;
		}

		input {
			background-color: #FFF;
			color: #999999;
			border: 1px solid #CCC;
			font-size: 11px;
			padding: 3px;
		}
		
		.button {
			padding: 2px;
		}
		
/* HEADER ELEMENTS */

		#header {
			border-bottom: 4px solid #948979;
			padding-top: 10px;
			clear: both;
			margin-bottom: 10px;
		}
		

		/* the slogan */
		#header p { 
			margin-top: -20px;
			margin-left: 30px;
			color: #999999;
		}

/* NAVIGATION ELEMENTS */

		 #navigation {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;			
			float: left;
			width: 140px;
		}
	
		 #navlist ul {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;			
			float: left;
			width: 140px;
		}

		.navsublist {
			margin-left: 15px;
		}

		#navlist a {
			display: block;
			padding: 5px;
			border-bottom: 1px solid #CCC;
		}

		#navlist a:link a:visited {
			color:#CC6714;
			text-decoration: none;
		}
		
		#navlist a:hover {
			background: #000000 url(arrow.gif) 96% 50% no-repeat;
			background-color: #F5F5F5;
			color:#CC6714;
		}

		.navigationContentMove {
			display: block;
			padding: 5px;
			width: 140px;
			border-bottom: 1px solid #CCC;
			color:#CC6714;
			text-decoration: none;
		}


/* THE SMALL BOX BELOW NAV */

		#navlist p {
			margin-top: 40px;
			padding: 5px;
			border-bottom: 1px dotted #CCC;
			border-top: 1px dotted #CCC;
		}

		#navops p {
			margin-top: 40px;
			padding: 5px;
			border-bottom: 1px dotted #CCC;
			border-top: 1px dotted #CCC;
		}

/* CONTENT ELEMENTS */

		#content {
			width: 562px;
			margin-left: 175px;
			margin-right: 100px;
		}
		
		#content p {
		}

		.contentStructuredP {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

/* SIDEBAR ELEMENTS */

		#sidebar {
			float: right;
			width: 175px;
		}
		
		#sidebar p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

/* OTHER ELEMENTS */

		#pageops {
			float: right;
		}
		
		#pageops p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

		#beadCrumbs {
			float: left;
		}
		
		#beadCrumbs p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

/* FOOTER ELEMENTS */

		#footer {
			margin-top: 20px;
			clear: both;
			background-color:#575352;
			padding: 0px 5px 0px 5px;
		}
		
		#footer p {
			color:#89817f;
			padding: 5px;
		}
		
		#footer p a {
			color: #89817f;
			border-bottom: 1px dotted #89817f;
		}
		
		#footer p a:hover {
			color: #FFFFFF;
			background-color:#575352;
		}

		#footer strong {
			margin-top: -17px;
			float: right;
			border-bottom: 1px;
		}

		/* And they lived happily ever after. The End. */


table.tstyle2 {
border-collapse: collapse;
margin: 1em 0;
}
table.tstyle2 th {
text-align: left;
font-weight: normal;
padding: 3px 4px;
border: 1px solid #ccc;
background: #f5f5f5;
text-align: center;
}
table.tstyle2 td {
text-align: center;
padding: 3px 3px !important;
padding-left: 10px;
border: 1px solid #ccc;
}
