<h4>Loggers @ {{server}}</h4>

<table class="table table-condensed table-striped table-bordered table-responsive">
    <thead>
            <tr>
                <td>Name</td>
                <td>Level</td>
            </tr>
    </thead>

    <tbody>
    	{{#loggers}}
            <tr>
                <td><small>{{name}}</small></td>
                <td logger="{{name}}">
                    <button class="btn btn-default btn-xs {{#trace}}btn-primary{{/trace}}">TRACE</button>
                    <button class="btn btn-default btn-xs {{#debug}}btn-success{{/debug}}">DEBUG</button>
                    <button class="btn btn-default btn-xs {{#info}}btn-info{{/info}}">INFO</button>
                    <button class="btn btn-default btn-xs {{#warn}}btn-warning{{/warn}}">WARN</button>
                    <button class="btn btn-default btn-xs {{#error}}btn-danger{{/error}}">ERROR</button>
                </td>
            </tr>
        {{/loggers}}
    </tbody>
</table>
