<h3>Storages</h3>

<div class="alert alert-danger alert-dismissible" ng-if="error">
	{{error.message}} {{error.stacktrace}}</span>
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>

<div class="alert" ng-if="!storages">
Loading...
</div>

<table class="table table-condensed" ng-if="storages">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Path</th>
			<th>Nr. of Files</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="storage in storages | orderBy:'name'">
			<td>{{storage.name}}</td>
			<td>{{storage.type}}</td>
			<td>{{storage.path}}</td>
			<td>{{storage.filesCount}}</td>
			<td>
				<button class="btn btn-sm btn-warning" ng-click="convert(storage)">Convert</button>
				<button class="btn btn-sm btn-danger" ng-class="{disabled: storage.filesCount > 0}" ng-click="delete(storage)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<h3>New Repository</h3>
	<div class="row">
		<div class="col-sm-5">
			<form class="form-horizontal" ng-submit="newDomainStorage()">
				<h4>Domain Storage</h4>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name" ng-model="domainName" required placeholder="Name">
					</div>
				</div>
			    <button type="submit" class="btn btn-success pull-right">Create</button>
			</form>
		</div>
		<div class="col-sm-7">
			<form class="form-horizontal" ng-submit="newFSStorage()">
				<h4>Local Filesystem Storage</h4>
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="name" ng-model="fsName" required placeholder="Name">
					</div>
				</div>
				<div class="form-group">
					<label for="path" class="col-sm-3 control-label">Path</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="path" ng-model="path" required placeholder="Path">
					</div>
				</div>
				<div class="form-group">
					<label for="treeLen" class="col-sm-3 control-label">Tree Directories Length</label>
					<div class="col-sm-9">
						<input type="number" class="form-control" id="treeLen" ng-init="treeLen = 3" ng-model="treeLen" min="1" max="6" required placeholder="Tree Directories Name Length">
					</div>
				</div>
			    <button type="submit" class="btn btn-success pull-right">Create</button>
			</form>
		</div>
	</div>
</div>