db.alias=//localhost:3306/expenditures?useUnicode=true&amp;characterEncoding=latin1&amp;clobCharacterEncoding=latin1&amp;zeroDateTimeBehavior=convertToNull&amp;statementInterceptors=net.sourceforge.fenixedu.persistenceTier.statementInterceptors.FenixStatementInterceptor
db.user=root
db.pass=
app.name=expenditures
error.if.changing.deleted.object=true
language=pt
location=PT
variant=
app.context=expenditures
filter.request.with.digest=true
digest.tampering.url=http://localhost:8080/expenditures
cas.enable=true
cas.loginUrl=https://login.ist.utl.pt/login?service=
cas.ValidateUrl=https://login.ist.utl.pt/serviceValidate
cas.logoutUrl=https://login.ist.utl.pt/logout
manager.usernames=ist24439, ist24520
acquisitionCentral.usernames=
acquisitionCentralAdministrator.usernames=
accountingAdministrator.usernames=
projectAccountingAdministrator.usernames=
treasury.usernames=
war.name=compras.ist.utl.pt

db.giaf.user=
db.giaf.pass=
db.giaf.alias=

db.mgp.user=
db.mgp.pass=
db.mgp.alias=

#----------------------------------------------------------------
# WebServices - External Services Urls
#----------------------------------------------------------------
# webServices.external.urls: comma seperated values of wsdl valid urls.
#							 Example: http://localhost:8080/contentCiapl/services/InstitutionalEmailManagement?wsdl

webServices.external.urls=
