<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">   
    <base target="_blank" href="/">
    <title>Bennu Admin</title>
    <link rel='shortcut icon' type='image/x-icon' href='<%= BASE_URL %>favicon.ico' />
    <link rel="apple-touch-icon" href="<%= BASE_URL %>apple-touch-icon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://static.tecnico.ulisboa.pt/fonts/source-sans-pro/index.css" rel="stylesheet">
    <link href="https://static.tecnico.ulisboa.pt/fonts/klavika-nova/index.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>    
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
