<!--  {    
            "hostname" : "myapp.com",
            "applicationTitle" : {"pt" : "my app"},
            "htmlTitle" : {"pt" : "app html title"},
            "applicationSubTitle" : {"pt" : "app subtitle"},
            "applicationCopyright" : {"pt" : "app copyright"},
            "supportEmailAddress" : "email@myapp.com",
            "systemEmailAddress" : "system@myapp.com" 
        }
        
         -->
<table id="hostList" class="table table-condensed">
	<thead>
		<tr>
			<th>Hostname</th>
			<th>Title</th>
			<th>Subtitle</th>
			<th>HTML Title</th>
			<th>Copyright</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<button class="create-host" class="btn">Criar Host</button>