<!--  {    
            "hostname" : "myapp.com",
            "applicationTitle" : {"pt" : "my app"},
            "htmlTitle" : {"pt" : "app html title"},
            "applicationSubTitle" : {"pt" : "app subtitle"},
            "applicationCopyright" : {"pt" : "app copyright"},
            "supportEmailAddress" : "email@myapp.com",
            "systemEmailAddress" : "system@myapp.com" 
        }
        
         -->
<p>Existem neste momento {{hosts.length}} hosts configurados!</p>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Hostname</th>
			<th>Title</th>
			<th>HTML Title</th>
			<th>Subtitle</th>
			<th>Copyright</th>
			<th>Support Email</th>
			<th>System Email</th>
		</tr>
	</thead>
	<tbody>
		{{#hosts}}
		<tr>
			<td>{{hostname}}</td>
			<td>{{#mls}}applicationTitle{{/mls}}</td>
			<td>{{#mls}}htmlTitle{{/mls}}</td>
			<td>{{#mls}}applicationSubTitle{{/mls}}</td>
			<td>{{#mls}}applicationCopyright{{/mls}}</td>
			<td>{{supportEmailAddress}}</td>
			<td>{{systemEmailAddress}}</td>
			<td><button class="edit-host" id="{{id}}" class="btn">Editar</button></td>
			<td><button class="delete-host" id="{{id}}" class="btn">Apagar</button></td>
		</tr>
		{{/hosts}}
	</tbody>
</table>

<button class="create-host" class="btn">Criar Host</button>