<td>{{hostname}}</td>
<td>{{#_mls}}applicationTitle{{/_mls}}</td>
<td>{{#_mls}}htmlTitle{{/_mls}}</td>
<td>{{#_mls}}applicationSubTitle{{/_mls}}</td>
<td>{{#_mls}}applicationCopyright{{/_mls}}</td>
<td>{{supportEmailAddress}}</td>
<td>{{systemEmailAddress}}</td>
<td>
	<button class="edit-host" id="{{id}}" class="btn">Editar</button>
	<button class="delete-host" id="{{id}}" class="btn">Apagar</button>
	{{#menu.id}}
	<button class="show-menu" id="{{menu.id}}" class="btn">Menu</button>
	{{/menu.id}}
</td>