// Helper Classes

@mixin sr-only {
  // /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden,
.sr-only {
  @include sr-only;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--col {
  flex-direction: column;
}

.skip-link,
.skip-main {
  @include sr-only;

  &:focus {
    width: auto;
    height: auto;
    clip: auto;
    z-index: 9999;
    background: #fff;
  }
}

@mixin disclosure-triangle($top: 1em, $right: 0) {
  &::after {
    content: '';
    position: absolute;
    right: $right;
    top: $top;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: currentColor transparent transparent transparent;
  }

  &:hover,
  &:focus {
    &::after {
      border-color: currentColor transparent transparent transparent;
    }
  }
}

// Shame ?
.m-top--2 {
  margin-top: 2px;
}

.m-top--3 {
  margin-top: 3px;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  @include mdTransition;
}
.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
