db.alias=//localhost:3306/expenditures?useUnicode=true&amp;characterEncoding=UTF-8&amp;clobCharacterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;statementInterceptors=net.sourceforge.fenixedu.persistenceTier.statementInterceptors.FenixStatementInterceptor
db.user=root
db.pass=
app.name=myorg
error.if.changing.deleted.object=true
language=pt
location=PT
variant=
app.context=myorg
filter.request.with.digest=true
digest.tampering.url=http://localhost:8080/myorg
cas.enable=false
cas.loginUrl=https://login.ist.utl.pt/login?service=
cas.ValidateUrl=https://login.ist.utl.pt/serviceValidate
cas.logoutUrl=https://login.ist.utl.pt/logout
manager.usernames=marvin
war.name=myorg.ist.utl.pt
webServices.external.urls=
module.src.dirs=
module.web.dirs=
