################################################################################
# Application Configuration Properties                                         #
# - Set properties needed at runtime, this will be included in the             #
#   configuration.properties file included in the deploy.                      #
################################################################################

#if development.mode property equals "true" a hint is given to the theme to render things differently to show that we are in dev mode
#if it is not defined or it is off, things will render normally
development.mode=true
db.alias=//localhost:3306/myorg?useUnicode=true&amp;characterEncoding=UTF-8&amp;clobCharacterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull
db.user=root
db.pass=
app.name=myorg
error.if.changing.deleted.object=true
language=pt
location=PT
variant=
errorPage=/error.jsp
app.context=myorg
filter.request.with.digest=true
digest.tampering.url=http://localhost:8080/myorg
allow.user.self.registry=true
localhost.cas.enable=false
localhost.cas.loginUrl=https://login.ist.utl.pt/login?service=
localhost.cas.ValidateUrl=https://login.ist.utl.pt/serviceValidate
localhost.cas.logoutUrl=https://login.ist.utl.pt/logout
#manager.usernames=manager

#
# Over here specify full class name of the FenixFrameworkPlugin classes
# from the plugins that will be used
plugins=

pre.init.classnames=

### Some example values
#plugins=pt.ist.fenixframework.plugins.FileSupportPlugin,pt.ist.fenixframework.plugins.remote.RemotePlugin

#pre.init.classnames=module.organizationIst.ModuleInitializer

