#graficos-processo li,
#graficos-processo li.em-curso,
#graficos-processo li.por-iniciar {
	padding:16px 30px !important;
}

#graficos-processo li.em-curso + li.por-iniciar:before {
	content:"";
	padding:16px 30px;
}

#graficos-processo li.em-curso:before,
#graficos-processo li.em-curso:after {
	display:none;
}

input {
	behavior: url(pie.htc);
}
#conteudo input[type="checkbox"] {
	padding: none !important;
	margin: none !important;
	border: none !important;
}
#conteudo h3.separator {
	background:none;
	border:none;
}


/* clear */
.clearthis {
	zoom:1;
}