

/*---------------------------------------
       New
---------------------------------------*/

div.section1 {
margin: 10px 0 10px 0;
background: #eee;
}
div.section1 h3 {
padding: 5px 10px 5px 10px;
border-bottom: 2px solid #ddd;
}

div.warning1 {
background: #fdeaa5;
padding: 10px 10px;
border-top: 2px solid #fbdd6b;
border-bottom: 2px solid #fbdd6b;
}
div.warning1 p {
margin: 0 !important;
}

/*---------------------------------------
       Buttons
---------------------------------------*/

input {
color: #333;
font-size: 11px;
padding: 2px;
}

.inputbutton {
padding: 3px 4px;
color: #fff;
border: 1px solid #ab4f20;
font-weight: bold;
background: #e89267;
}

.inputbuttonlogin {
padding: 3px 4px;
color: #fff;
border: 1px solid #ab4f20;
font-weight: bold;
background: #e89267;
}


/*---------------------------------------
       Exception
---------------------------------------*/

div#errorcontainer {
margin-top: 40px !important;
width: 455px;
position: relative;
margin: 0 auto 0 auto;
}
div#errorcontainer div#header {
/* height: 5px; */
}
div#errorcontainer h2 {
}
div#errorcontainer #content {
background: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


/*---------------------------------------
       Error, Success, Warning
---------------------------------------*/

span.error0 {
color: #cc2200;
background-color: #fff0dd;
}

div.error1 {
margin: 0.75em 0;
padding: 0.4em 0.4em 0.4em 2.5em;
background: #fde6d7 url(error01.gif) 0.5em 0.5em no-repeat;
}

div.error1 span {
color: #cc1500;
color: #ab431f;
color: #c13606;
}

/*
div.warning1 {
margin: 0.75em 0;
}
div.warning1 span {
padding: 5px 5px 5px 25px;
background: #fbf2cf;
margin: 1em 0;
color: #8c6a0b;
background: #fbf2cf url(warning01.gif) 3px center no-repeat;
}
*/

div.warning2 {
margin: 1em 0;
padding: 0.5em 1.25em 0.75em 1.25em;
color: #8c6a0b;
border-top: 1px solid #dacea0;
border-bottom: 1px solid #dacea0;
background: #fbf2cf;
}
div.warning2 p {
margin: 0 0 0.75em 0 !important;
}

div.warning3 {
margin: 0.75em 0;
padding: 0.4em 0.4em 0.4em 2.5em;
background: #fbf2cf url(warning01.gif) 0.5em 0.5em no-repeat;
}


/*---------------------------------------
       Operations
---------------------------------------*/

ul.operations {
margin: 0;
padding-top: 0;
padding-left: 1.3em;
}
ul.operations li {
margin-top: 0;
padding-top: 0;
}


/*---------------------------------------
       Documents
---------------------------------------*/

.documents {
margin: 1em 0;
}
.documents p {
margin: 0.25em 0 !important;
background: url(doc.gif) left 5px no-repeat;
padding: 0 0 0 14px;
}
.documents em {
}


/*---------------------------------------
       Forms Contextual Help
---------------------------------------*/

div.chelp {
display: inline;
padding-top: 5px;
padding-bottom: 15px;
}
div.chelp img {
padding-right: 10px;
}
div.closed div.chelptext {
display: none;
}
div.copen div.chelptext {
display: inline;
}
div.chelp div.icon {
background: url(icon_help.gif) no-repeat;
width: 20px;
height: 20px;
}
div.chelp {
position: relative;
}
div.chelp div.chelptext {
white-space: normal;
position: absolute;
z-index: 10;
top: 0;
left: 25px;
width: 275px;
padding: 5px 10px;
text-align: left;
background: #e3f0f6;
border: 2px solid #c8e3ec;
}
div.chelp div.chelptext a {
font-weight: normal;
}


/*---------------------------------------
       Tooltip
---------------------------------------*/

div.tooltip {
display: inline;
position: relative;
}
div.tooltip img {
padding-top: 5px;
}
div.tooltipClosed div.tooltipText {
display: none;
}
div.tooltipOpen div.tooltipText {
display: inline;
}
div.tooltipOpen div.tooltipText p {
display: block !important;
margin: 0 !important;
}
div.tooltip div.tooltipText {
position: absolute;
z-index: 10;
top: 0;
left: 25px;
width: 325px;
padding: 5px 10px;
text-align: left;
background: #e3f0f6;
border: 2px solid #c8e3ec;
white-space: normal !important;
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
text-shadow:0px 1px 0px rgba(255,255,255,0.5);
}
div.tooltip div.tooltipText a {
font-weight: normal;
}
div.tooltip div.tooltipText ul {
margin: 0;
padding: 0;
list-style: none;
text-align: left;
}
div.tooltip div.tooltipText ul li {
margin: 0;
padding: 0;
}
div.tooltip span { border-bottom: 1px dotted #888; cursor: default; }
div.tooltip div.tooltipText span { border-bottom: none; }

div.activities div.tooltip {
margin-left: 10px;
}

/* tooltip width control from the outside */

.tooltipWidth400px div.tooltip div.tooltipText { width: 400px !important; }

/*---------------------------------------
       Page Help Icon
---------------------------------------*/

div.helpicon {
width: 10px;
height: 10px;
float: right;
margin-top: 14px;
}
div.helpicon a {
outline: none;
}
div.helpicon * {
border: none;
text-decoration: none;
}

/*---------------------------------------
       Auto-Complete
---------------------------------------*/

/** new auto complete ***/
ul.autocomplete label {
display: block;
}

/* autocomplete */
input.autocomplete-loading {
background-image: url(autocomplete.gif);
background-position: center right;
background-repeat: no-repeat;
}
div ul.autocomplete {
width: 375px !important;
position: absolute;
background-color: #fff;
border: 1px solid #aaa;
margin: 0px;
padding: 0px;
list-style: none;
color: #000;
display: none;
z-index: 1000;
}
div ul.autocomplete li {
display: block;
padding: 1px 4px;
cursor: pointer;
}
div ul.autocomplete li.selected {
background: #fceed0;
}
div ul.autocomplete li strong {
}


/*---------------------------------------
       Dashboard Widgets
---------------------------------------*/

div.portlet {
border: 1px solid #ccc;
margin-right: 10px;
background: #fff;
margin-bottom: 10px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 1.6em;
}
div.portlet a {
color: #d17647;
font-weight: bold;
text-decoration: none;
}
div.portlet a:hover {
text-decoration: underline;
}

div.portlet-header {
background: #eeeeee;
padding: 6px 10px;
margin: 0 0 0 0;
font-weight: bold;
color: #555;
-moz-border-radius-topleft: 6px;
-webkit-border-top-left-radius: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-right-radius: 6px;
border-bottom: 1px solid #ddd;
margin-bottom: 1px;
border: none;
}
div.portlet-content {
margin-top: 0;
}
div.portlet-content p {
padding: 0 10px;
}
div.portlet-content table {
border-top: 2px solid #fff !important;
}
div.portlet table {
border-collapse: collapse;	
margin-top: 0;
}
div.portlet table tr td {
vertical-align: top;
padding: 3px 10px !important;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}
div.portlet table tr.first td {
border-top: 1px solid #ddd !important;
}
div.portlet table tr.last td {
border-bottom: none;
}

.column {
width: 270px;
width: 295px;
float: left;
padding-bottom: 100px;
}

div#column-0 { margin-left: 0px; }
div#column-1 { margin-left: 10px; }
div#column-2 { margin-left: 10px; }
div#column-3 { margin-left: 10px; }

.ui-sortable-placeholder {
border: 1px dotted #ccc !important;
visibility: visible !important;
height: 50px !important;
}
.ui-sortable-placeholder * {
visibility: hidden;
}

/* quick search widget */

div.portlet-content table.quicksearch th, div.portlet-content table.quicksearch td {
margin: 0 !important;
padding: 0 !important;
text-align: left;
border: none !important;
}
table.quicksearch th {
font-weight: normal;
}
div.portlet-content table.quicksearch th, div.portlet-content table.quicksearch td {
padding: 0 4px !important;
}
div.portlet-content table.quicksearch {
margin: 1em 0;
}

div.portlet-header .ui-icon {
float: right;     
cursor: pointer;   
}

/*---------------------------------------
       JS Not Available
---------------------------------------*/

div.nojavascript {
color: #888;
font-size: 0.9em;
}
div.nojavascript img {
display: none;
}
div.nojavascript div.chelptext {
display: block;
}


/*---------------------------------------
       To delete?
---------------------------------------*/

div.wrapper { padding-right: 150px; } /* used when #flow is visible */









/*
C O M P O N E N T S
C O M P O N E N T S
C O M P O N E N T S
C O M P O N E N T S
C O M P O N E N T S
*/












.secondaryLink {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
font-weight: normal;
color: #444 !important;
text-decoration: none !important;
}
.secondaryLink:hover {
font-weight: normal;
}

.thsecondaryLink th a {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
font-weight: normal;
color: #444 !important;
text-decoration: none !important;
}
.thsecondaryLink th a:hover {
font-weight: normal;
}
.tdsecondaryLink td a {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
color: #444 !important;
text-decoration: none !important;
}


/*---------------------------------------
       Tables
---------------------------------------*/


table.tview1 {
margin: 10px 0;
}
table.tview1 th {
border-top: 2px solid #ccc !important;
border-bottom: 1px solid #ccc !important;
background: #eee;
padding: 5px 10px 5px 10px;
text-align: center;
}
table.tview1 td {
border: 1px solid #ccc;
background: #fff;
padding: 5px 10px 5px 10px;
text-align: center;
vertical-align: top;
}
table.tview1 th, table.tview1 td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: none;
border-right: none;
}


table.tview2 {
margin: 10px 0;
border: 1px solid #ccc;
}
table.tview2 th, table.tview2 td {
border: 1px solid #ccc;
border-left: none;
border-right: none;
}
table.tview2 th {
background: #eee;
padding: 5px 10px 5px 10px;
text-align: center;
border-top: 2px solid #ccc !important;
}
table.tview2 td {
background: #fafafa;
padding: 5px 10px 5px 10px;
text-align: center;
vertical-align: top;
border: 1px solid #ccc;
}
table.tview2 tr.invoice th {
border-top: 1px solid #ccc !important;
}

table.tview2-invoice {
margin: 10px 0;
}
table.tview2-invoice th {
background: #eee;
padding: 5px 10px 5px 10px;
text-align: center;
}
table.tview2-invoice td {
background: #fafafa;
padding: 5px 10px 5px 10px;
text-align: center;
vertical-align: top;
}
table.tview2-invoice td {
}

table.tview2-invoice th, table.tview2-invoice td {
border: none !important;
}



/*---------------------------------------
       Info
---------------------------------------*/


.col2-1 { width: 428px; float: left; }
.col2-2 { width: 428px; float: right; }




div.infobox1 {
margin: 10px 0 10px 0;
background: #fff;
background: #f5f5f5;
}
div.infobox1 div {
margin: 0 10px 0 10px;
padding: 5px 0px 5px 0px;
}
div.infobox1 div div {
margin: 0;
padding: 0;
}
div.infobox1 h3 {
padding: 5px 10px 5px 10px;
background: #eee;
}
div.infobox1 h3 a {
color: #fff;
border: none;
}
div.infobox1 table {
margin: 18px 0 10px 0;
width: 100%;
}
div.infobox1 table th {
}
div.infobox1 table td {
}
div.infobox1 table th, div.infobox1 table td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: none;
border-right: none;
text-align: left;
vertical-align: top;
padding:8px 12px;
}
div.infobox1 p {
}

div.infobox1 div.header {
padding: 5px 10px 5px 10px;
margin: 0;
background: #eee;
}
div.infobox1 div.header h3 {
padding: 0px;
margin: 0;
}



div.infobox2 {
margin: 10px 0 10px 0;
}
div.infobox2 div {
padding: 5px 0px 5px 0px;
}
div.infobox2 h3 {
}



div.infobox3 {
margin: 10px 0 10px 0;
}
div.infobox3 div {
padding: 5px 0px 5px 0px;
}
div.infobox3 h3 {
}
div.infobox3 table {
margin: 8px 0 20px 0;
width: 100%;
}
div.infobox3 table th {
padding: 5px 10px 5px 0px;
text-align: left;
}
div.infobox3 table td {
border: 1px solid #ccc;
padding: 8px 10px;
text-align: left;
vertical-align: top;
}
div.infobox3 table th, div.infobox3 table td {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: none;
border-right: none;
}
div.infobox3 table tr.first th, div.infobox3 table tr.first td {
border-top: 2px solid #ddd !important;
}


div.infobox4 {
margin: 10px 0 10px 0;
}
div.infobox4 div {
padding: 5px 0px 5px 0px;
}
div.infobox4 h3 {
border-bottom: 2px solid #ddd;
padding-bottom: 8px; /* 10 - 2 do border */
margin-bottom: -5px;
}





div.infobox5 {
margin: 10px 0 10px 0;
padding: 5px 10px;
background: #f5f5f5;
border: 1px solid #ddd;
/*
background: #fafafa;
border: 1px solid #eee;
*/
}

div.infobox5 table th {
text-align: left;
}


div.infobox_dotted {
border: 1px dotted #aaa;
padding: 15px 10px;
background: #fff;
margin: 1em 0;
}
div.infobox_dotted ul {
margin: 0;
padding: 0;
padding-left: 2em;
}

/*
div.infobox {
border: 1px solid #e0e0e0;
padding: 5px 10px;
background: #f7f7f7;
margin: 1em 0;
}
*/

div.infobox_warning {
padding: 5px 10px;
margin: 10px 0;
border: 1px solid #f0c160;
background: #fbedcb;
}

div.highlightBox {
border: 1px solid #f0ce6f;
padding: 5px 10px;
background: #fbf2cf;
margin: 1em 0;
}



div.infobox1, div.infobox2, div.infobox3, div.infobox4, div.infobox5 {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


/*---------------------------------------
       Tabular
---------------------------------------*/

table {
border-collapse: collapse;
}
table table {
border-collapse: collapse; /* auto-complete input left margin fix */
}
table th {
font-weight: normal;
}
table td {
}



/* table styles */

table.tstyle1 th {
text-align: left;
padding: 0.2em 0;
white-space: nowrap;
vertical-align: top;
padding-right: 10px;
}
table.tstyle1 td {
text-align: left;
padding: 0.2em 0;
}

table.tstyle2 th {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle2 td {
border: 1px solid #ccc;
background: #fff;
padding: 0.4em 0.5em;
text-align: center;
}

table.tstyle3 th {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle3 td {
border: 1px solid #ccc;
background: #fff;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle3 th, table.tstyle3 td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: none;
border-right: none;
}

table.tstyle4 th {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle4 td {
border: 1px solid #ccc;
background: #fff;
padding: 0.4em 0.5em;
text-align: center;
}

table.tstyle4 {
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 4px solid #eee;
border-bottom: 4px solid #eee;
}
table.tstyle4 th {
border-color: #ddd;
}
table.tstyle4 td {
border-color: #ddd;
}


table.tstyle5 th {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 0.5em 0.5em;
text-align: center;
}
table.tstyle5 td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 0.5em 0.5em;
text-align: left;
}



/* table text align */

table.taleft th, table.taleft td { text-align: left !important; }
table.tcenter th, table.tcenter td { text-align: center !important; }
table.tright th, table.tright td { text-align: right !important; }

/* table background */
table.thbgwhite th {
background: #fff;
}

/* table padding */
table.thpaddingleft0 th {
padding-left: 0;
}

/* structural */
table.structural, table.structural-vertical {
border-collapse: collapse;
margin: 0;
padding: 0;
margin: 1em 0;
}
table.structural th, table.structural-vertical th {
padding: 0;
border: none !important;
}
table.structural td, table.structural-vertical td {
border: none !important;;
padding: 0;
vertical-align: top;
}

table.structural-vertical th {
padding: 3px 10px 3px 0;
vertical-align: top;
}
table.structural-vertical td {
padding: 3px;
vertical-align: top;
}

/*---------------------------------------
       Forms
---------------------------------------*/

form table {
margin: 10px 0 10px 0;
}
form table th, form table td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
vertical-align: top;
text-align: left;
}
form table th {
padding: 5px 0;
padding-right: 10px !important;
white-space: nowrap;
}
form table td {
padding: 5px 0 5px 10px;
}

form table.vert {
margin: 10px 0 10px 0;
}
form table.vert th, form table.vert td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
vertical-align: top;
padding: 5px;
}
form table.vert th {
background: #eee;
}
form table.vert td {
text-align: center;
}




input[type="text"] {
border: 1px solid #aaa;
padding: 4px;
background: #fafafa;
color: #555;
}
input.autocomplete {
padding-right: 20px;
background: #fafafa url(../files/magnifier.png) center right no-repeat;
border: 1px solid #aaa;
padding: 4px 25px 4px 4px;
}





/* tables inside form tables */

form table table {
margin: 0;
}
form table table tr th {
margin: 0;
padding: 0 3px 0 0 !important;
border: none;
}
form table table tr td {
margin: 0;
padding: 0 3px 0 0 !important;
border: none;
}

/* table errors */

table tr td.tderror {
border-top: none !important;
border-bottom: none !important;
border-right: none !important;
color: #cc2200;
}
table tr td.tderror span {
background-color: #fff0dd;
}

/* other form related rules */

form span.required {
color: #c20;
}

form h3 {
margin: 1em 0 0.5em 0;
padding: 4px 0 4px 0;

background: #f5f5f5;
border-bottom: 2px solid #eee;

/*
background: #f8f7f0;
border-bottom: 2px solid #f4f2e5;
*/
}

h3.bar {
margin: 1em 0 0.5em 0;
background: #f5f5eb;
border-top: 1px solid #e6e6dc;
padding: 2px 0;
}

form table {
margin: 1em 0 1.5em 0;
}
form table th, form table td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
vertical-align: top;
text-align: left;
}
form table th {
padding: 5px 0;
white-space: nowrap;
}
form table td {
padding: 5px 0 5px 10px;
}






/*
C O M M O N S
C O M M O N S
C O M M O N S
C O M M O N S
C O M M O N S
C O M M O N S
*/








/*----------------------------------------
      General
----------------------------------------*/

.mbottom0 { margin-bottom: 0px !important; }
.mbottom5px { margin-bottom: 5px !important; }
.mbottom10px { margin-bottom: 10px !important; }
.mbottom15px { margin-bottom: 15px !important; }
.mbottom20px { margin-bottom: 20px !important; }

.mtop0 { margin-top: 0px !important; }
.mtop5px { margin-top: 5px !important; }
.mtop10px { margin-top: 10px !important; }
.mtop15px { margin-top: 15px !important; }
.mtop20px { margin-top: 20px !important; }
.mtop30px { margin-top: 30px !important; }
.mtop40px { margin-top: 40px !important; }

.mvert0 { margin-top: 0px !important; margin-bottom: 0em !important; }
.mvert5px { margin-top: 5px !important; margin-bottom: 5px !important; }
.mvert10px { margin-top: 10px !important; margin-bottom: 10px !important; }
.mvert15px { margin-top: 15px !important; margin-bottom: 15px !important; }
.mvert20px { margin-top: 20px !important; margin-bottom: 20px !important; }


.mtop025 { margin-top: 0.25em !important; }
.mtop05 { margin-top: 0.5em !important; }
.mtop075 { margin-top: 0.75em !important; }
.mtop1 { margin-top: 1em !important; }
.mtop15 { margin-top: 1.5em !important; }
.mtop2 { margin-top: 2em !important; }

.mbottom025 { margin-bottom: 0.25em !important; }
.mbottom05 { margin-bottom: 0.5em !important; }
.mbottom075 { margin-bottom: 0.75em !important; }
.mbottom1 { margin-bottom: 1em !important; }
.mbottom15 { margin-bottom: 1.5em !important; }
.mbottom2 { margin-bottom: 2em !important; }

.mvert025 { margin-top: 0.25em !important; margin-bottom: 0.25em !important; }
.mvert05 { margin-top: 0.5em !important; margin-bottom: 0.5em !important; }
.mvert075 { margin-top: 0.75em !important; margin-bottom: 0.75em !important; }
.mvert1 { margin-top: 1em !important; margin-bottom: 1em !important; }
.mvert15 { margin-top: 1.5em !important; margin-bottom: 1.5em !important; }

.aleft, .aleft * { text-align: left !important; }
.aright, .aright * { text-align: right !important; }
.smalltxt { font-size: 0.95em; }
.aleft { text-align: left !important; }
.acenter { text-align: center !important; }
.aright { text-align: right !important; }
.dnone { display: none; }
.dinline { display: inline; }
span.valid { color: #0a0; font-weight: bold; }
span.invalid { color: #a00; font-weight: bold; }
.bold { font-weight: bold; }
.nowrap { white-space: nowrap; }
.vatop { vertical-align: top; }
.weight-normal { font-weight: normal; }
.lighter { font-size: 10px; color: #999; }


/* lists */
.no-bullets, .no-bullets ul, .no-bullets ul li { list-style: none; }
.list-reset, .list-reset ul, .list-reset ul li { list-style: none; padding-left: 0; }


.width30px { width: 30px !important; }
.width100px { width: 100px !important; }
.width165px { width: 165px !important; }
.width215px { width: 215px !important; }
.width190px { width: 190px !important; }
.width100pc { width: 100%; }
.width300px { width: 300px !important; }

.inputsize40 input { width: 257px; }
.inputsize200px input { width: 200px; }
.inputsize225px input { width: 225px; }
.inputsize250px input { width: 250px; }
.inputsize300px input { width: 300px; }
.inputsize350px input { width: 350px; }
.inputsize400px input { width: 400px; }

.inputaright input { text-align: right !important; }

.clear { clear: both; }




/*----------------------------------------
      Lists
----------------------------------------*/

ul.liinline {
margin: 0;
padding: 0;
}
ul.liinline li {
display: inline; 
margin: 0 !important;
padding: 0 !important;
}
.nobullet { list-style: none; }
.indent0 { margin-left: 0; padding-left: 0;  }
.indent0 li { margin-left: 0; padding-left: 0;  }
.forminline form { display: inline !important; }

.listInsideClear ul {
list-style: none;
margin: 0;
padding: 0;
}
.listInsideClear ul li {
margin: 0;
padding: 0;
}

.inputInsideAlignRight input {
text-align: right;
}






/*----------------------------------------
      Tables
----------------------------------------*/

table.thwidth150px th	{ width: 150px !important; white-space: normal !important; }
table.thwidth200px th	{ width: 200px !important; white-space: normal !important; }

table.thnone th			{ display: none; }
table.thtop th			{ vertical-align: top; }
table.thmiddle th		{ vertical-align: middle; }
table.thleft th			{ text-align: left; }
table.thcenter th		{ text-align: center; }
table.thnowrap th		{ white-space: nowrap; }
.thnoborder th 			{ border-left: none !important; border-right: none !important; }
.thleft th 				{ text-align: left !important; }

.tdleft td 			{ text-align: left !important; }
.tdbold td			{ font-weight: bold; }
.tdtop td			{ vertical-align: top !important; }
.tdmiddle td		{ vertical-align: middle !important; }
.tdnoborder td		{ border-left: none !important; border-right: none !important; }



.vpadding05 th, .vpadding05 td {
padding-top: 0.3em !important;
padding-bottom: 0.3em !important; 
}

.nopadding table tr th { padding: 0 !important; }
.nopadding table tr td { padding: 0 !important; }

table.thpadding02505 th { padding: 0.25em 0.5em; } /* higher th paddings for table.tstyle1 */
table.thright th { text-align: right; }

.noborder th, .noborder td { border: none; } /* <<< table no border?  */

table.width33 td 	{ width: 33%; } /* <<< mudar para tdwidth33pc */

table.th-width-min th { width: 1px; white-space: nowrap; }
table.th-width-120 th { width: 120px; }


table.tgluetop tr td, table.tgluetop tr th { 
border-top: none; 
}


/*----------------------------------------
      Accessibility and Javascritt
----------------------------------------*/

.switchInline { display: none; }
.switchBlock { display: none; }
.switchNone { display: block; }
.dnone { display: none; }
.dinline { display: inline; }
.dblock { display: block; }


/*----------------------------------------
      Raquo
----------------------------------------*/

div.infobox_dotted span.raquo { display: inline; }
h2 span.raquo { display: none; }
.noraquo span.raquo { display: none; }

/*----------------------------------------
      Ruler
----------------------------------------*/

div.ruler1 {
border-bottom: 1px dotted #ccc;
margin: 0.5em 0;
}















/*
M O D U L E
M O D U L E
M O D U L E
M O D U L E
M O D U L E
M O D U L E
M O D U L E
*/




span.post {
background: url(images/calendar-blue.png) 0px 0px no-repeat;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}
span.author {
background: url(images/user-business.png) 0px 0px no-repeat;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}
span.comments {
background: url(images/balloon-left.png) 0px 0px no-repeat;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}





div.activities {
margin: 0 !important;
}
div.activities ul#main-activities {
margin: 0;
padding: 5px 0 0 0;
list-style: none;
}
div.activities ul#main-activities li {
border-bottom: 1px dotted #ccc;
padding: 6px 10px 6px 10px;
}
div.activities ul#main-activities li.first {
padding: 12px 10px 6px 10px;
}
div.activities ul#main-activities li span {
color: #888;
}
div.activities ul#main-activities li p {
margin: 3px 0 10px 0;
display: none;
}
div.activities ul#main-activities li a.help {
margin-left: 0.4em;
}
div.activities ul#other-activities {
margin: 0 10px 0 30px;
}
div.activities p {
margin: 10px 5px 5px 10px !important;
}



table.process-files tr th {
width: 70px;
}
table.process-files tr td {
text-align: left;
padding: 5px 0 5px 0 !important;
}



table.process-info th {
/*background: red;*/
width: 145px;
vertical-align: top;
padding-left: 0;
}
table.process-info td {
padding-left: 0 !important;
text-align: left !important;
}
table.process-info td a {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
color: #444 !important;
text-decoration: none !important;
}



table.process-state {
border-collapse: collapse;
margin: 5px 0;
width: 100%;
}
table.process-state th, table.process-state td {
/*border: 1px solid #e8f2e7;*/
}
table.process-state th {
background: #e8f2e7;
color: #397238;
padding: 5px 0 5px 0;
}
table.process-state tr.states th {
border-left: 1px solid #fff;
border-right: 1px solid #fff;
/* background: #e8f2e7 url(../files/cross_clear_04.gif) bottom center no-repeat; */
background: #e8f2e7 url(images/cross_clear_04.gif) bottom center no-repeat;
}
table.process-state tr.states th.selected {
background: #438542;
color: #fff;
}
table.process-state th div {
width: 18px;
margin: 0 auto;
cursor: default;
}

table.process-state tr.states th:hover {
background: #dce8d9;
}
table.process-state tr.states th.selected:hover {
background: #438542;
}

table.process-state tr.states-cross th {
height: 5px;
padding: 0 5px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}
table.process-state tr.states-cross th.selected {
background: url(images/cross_05.gif) bottom center no-repeat;
height: 5px;
}
table.process-state tr.state-desc td {
background: #e8f2e7;
padding: 0 10px 10px 10px;
height: 200px;
vertical-align: top;
}
table.process-state tr.state-desc td h4 {
padding: 10px 0 15px 0 !important;
font-size: 13px;
}





table.process-state-cancelled {
border-collapse: collapse;
margin: 5px 0;
width: 100%;
color: #5b5431 !important;
}
table.process-state-cancelled th, table.process-state td {
}
table.process-state-cancelled th {
background: #f0eee6;
padding: 5px 0 5px 0;
}
table.process-state-cancelled th div {
width: 18px;
margin: 0 auto;
cursor: default;
}

table.process-state-cancelled tr.states th {
border-left: 1px solid #fff;
border-right: 1px solid #fff;
background: #f0eee6 url(images/cross_clear_04.gif) bottom center no-repeat;
}
table.process-state-cancelled tr.states th:hover {
background: #f0eee6;
}

table.process-state-cancelled tr.states th.selected {
background: #f0eee6;
color: #fff;
}
table.process-state-cancelled tr.states th.selected:hover {
background: #f0eee6;
}

table.process-state-cancelled tr.states-cross th {
height: 5px;
padding: 0 5px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}
table.process-state-cancelled tr.states-cross th.selected {
height: 5px;
}
table.process-state-cancelled tr.state-desc td {
background: #f0eee6;
padding: 0 10px 10px 10px;
height: 200px;
vertical-align: top;
}
table.process-state-cancelled tr.state-desc td h4 {
padding: 10px 0 15px 0 !important;
font-size: 13px;
}


















/* ORGANIZE */

table.firstnoborder tr:first-child th,
table.firstnoborder tr:first-child td {
border-top: none !important;
}
table.lastnoborder tr:last-child th,
table.lastnoborder tr:last-child td {
border-top: none !important;
}

table.firststrongborder tr:first-child th,
table.firststrongborder tr:first-child td {
border-top: 2px solid #ddd !important;
}






/* ISTO ESTAVA NO METAWORKFLOWSPECIFIC.CSS */

div.comment {
margin: 20px 0;
}
div.comment p {
margin-bottom: 0 !important;
}
div.comment p span {
margin-bottom: 0 !important;
/* font-weight: bold !important; */
}
div.comment div {
margin-top: 0;
}
div.comment table td {
vertical-align: top;
/* border: 1px solid red; */
}
div.comment table td.photoHolder {
padding: 5px 15px 0 0;
}


/* MISC - TO ORGANIZE*/

/* p�gina do processo, estados referente �s unidades pagadoras */

span.off {
padding: 1px;
background: #fff;
cursor: default;
color: #888;
border-bottom: 1px dotted #aaa !important;
}
span.on {
cursor: default;
padding: 1px;
background: #e9f2e6;
color: #3d722f;
border-bottom: 1px dotted #aaa !important;
}
span.half {
padding: 1px;
cursor: default;
background: #f6e6b4;
color: #9f7700;
font-weight: bold;
}




/* to orgnize */


/* usado no processo reembolso para mostrar facturas dos itens */

tr.refund-invoices > td {
padding: 10px 10px 10px 10px;
}
tr.refund-invoices table {
width: 100%;
margin: 5px 0 5px 0;
border: 1px solid #ccc;
}
tr.refund-invoices table th, tr.refund-invoices table td {
background: #f0f0f0;
color: #666 !important;
}



#language {
	width:160px;
	float:right;
	position:relative;
	z-index:3000;
	margin-right:40px;
	text-align:right;
	font-size:12px;
	top:-20px;
}
#language a {
	text-decoration:none;
	padding:2px 0;
}


