






/* tables inside form tables */

form table table {
margin: 0;
}
form table table tr th {
margin: 0;
padding: 0 3px 0 0 !important;
border: none;
}
form table table tr td {
margin: 0;
padding: 0 3px 0 0 !important;
border: none;
}

/* table errors */

table tr td.tderror {
border-top: none !important;
border-bottom: none !important;
border-right: none !important;
color: #cc2200;
}
table tr td.tderror span {
background-color: #fff0dd;
}

/* other form related rules */

form span.required {
color: #c20;
}

form h3 {
margin: 1em 0 0.5em 0;
padding: 4px 0 4px 0;

background: #f5f5f5;
border-bottom: 2px solid #eee;

/*
background: #f8f7f0;
border-bottom: 2px solid #f4f2e5;
*/
}

h3.bar {
margin: 1em 0 0.5em 0;
background: #f5f5eb;
border-top: 1px solid #e6e6dc;
padding: 2px 0;
}

form table {
margin: 1em 0 1.5em 0;
}
form table th, form table td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
vertical-align: top;
text-align: left;
}
form table th {
padding: 5px 0;
white-space: nowrap;
}
form table td {
padding: 5px 0 5px 10px;
}






/*
C O M M O N S
C O M M O N S
C O M M O N S
C O M M O N S
C O M M O N S
C O M M O N S
*/








/*----------------------------------------
      General
----------------------------------------*/

.mbottom0 { margin-bottom: 0px !important; }
.mbottom5px { margin-bottom: 5px !important; }
.mbottom10px { margin-bottom: 10px !important; }
.mbottom15px { margin-bottom: 15px !important; }
.mbottom20px { margin-bottom: 20px !important; }

.mtop0 { margin-top: 0px !important; }
.mtop5px { margin-top: 5px !important; }
.mtop10px { margin-top: 10px !important; }
.mtop15px { margin-top: 15px !important; }
.mtop20px { margin-top: 20px !important; }

.mvert0 { margin-top: 0px !important; margin-bottom: 0em !important; }
.mvert5px { margin-top: 5px !important; margin-bottom: 5px !important; }
.mvert10px { margin-top: 10px !important; margin-bottom: 10px !important; }
.mvert15px { margin-top: 15px !important; margin-bottom: 15px !important; }
.mvert20px { margin-top: 20px !important; margin-bottom: 20px !important; }


.mtop025 { margin-top: 0.25em !important; }
.mtop05 { margin-top: 0.5em !important; }
.mtop075 { margin-top: 0.75em !important; }
.mtop1 { margin-top: 1em !important; }
.mtop15 { margin-top: 1.5em !important; }
.mtop2 { margin-top: 1em !important; }

.mbottom025 { margin-bottom: 0.25em !important; }
.mbottom05 { margin-bottom: 0.5em !important; }
.mbottom075 { margin-bottom: 0.75em !important; }
.mbottom1 { margin-bottom: 1em !important; }
.mbottom15 { margin-bottom: 1.5em !important; }
.mbottom2 { margin-bottom: 2em !important; }

.mvert025 { margin-top: 0.25em !important; margin-bottom: 0.25em !important; }
.mvert05 { margin-top: 0.5em !important; margin-bottom: 0.5em !important; }
.mvert075 { margin-top: 0.75em !important; margin-bottom: 0.75em !important; }


.aleft, .aleft * { text-align: left !important; }
.aright, .aright * { text-align: right !important; }
.smalltxt { font-size: 0.95em; }
.aleft { text-align: left !important; }
.acenter { text-align: center !important; }
.aright { text-align: right !important; }
.dnone { display: none; }
.dinline { display: inline; }
span.valid { color: #0a0; font-weight: bold; }
span.invalid { color: #a00; font-weight: bold; }
.bold { font-weight: bold; }
.nowrap { white-space: nowrap; }
.vatop { vertical-align: top; }
.weight-normal { font-weight: normal; }
.lighter { font-size: 10px; color: #999; }


/* lists */
.no-bullets, .no-bullets ul, .no-bullets ul li { list-style: none; }
.list-reset, .list-reset ul, .list-reset ul li { list-style: none; padding-left: 0; }


.width30px { width: 30px !important; }
.width100px { width: 100px !important; }
.width165px { width: 165px !important; }
.width215px { width: 215px !important; }
.width190px { width: 190px !important; }
.width100pc { width: 100%; }

.inputsize40 input { width: 257px; }
.inputsize200px input { width: 200px; }
.inputsize225px input { width: 225px; }
.inputsize250px input { width: 250px; }
.inputsize300px input { width: 300px; }
.inputsize350px input { width: 350px; }
.inputsize400px input { width: 400px; }

.inputaright input { text-align: right !important; }

.clear { clear: both; }




/*----------------------------------------
      Lists
----------------------------------------*/

ul.liinline {
margin: 0;
padding: 0;
}
ul.liinline li {
display: inline; 
margin: 0 !important;
padding: 0 !important;
}
.nobullet { list-style: none; }
.indent0 { margin-left: 0; padding-left: 0;  }
.indent0 li { margin-left: 0; padding-left: 0;  }
.forminline form { display: inline !important; }

.listInsideClear ul {
list-style: none;
margin: 0;
padding: 0;
}
.listInsideClear ul li {
margin: 0;
padding: 0;
}

.inputInsideAlignRight input {
text-align: right;
}






/*----------------------------------------
      Tables
----------------------------------------*/

table.thwidth150px th	{ width: 150px; }
table.thnone th			{ display: none; }
table.thmiddle th			{ vertical-align: middle; }
table.thleft th			{ text-align: left; }
table.thcenter th			{ text-align: center; }
table.thnowrap th			{ white-space: nowrap; }
.thnoborder th 			{ border-left: none !important; border-right: none !important; }
.thleft th 					{ text-align: left !important; }

.tdleft td 			{ text-align: left !important; }
.tdbold td			{ font-weight: bold; }
.tdmiddle td		{ vertical-align: middle; }
.tdmiddle td		{ vertical-align: middle !important; }
.tdnoborder td		{ border-left: none !important; border-right: none !important; }



.vpadding05 th, .vpadding05 td {
padding-top: 0.3em !important;
padding-bottom: 0.3em !important; 
}

.nopadding table tr th { padding: 0 !important; }
.nopadding table tr td { padding: 0 !important; }

table.thpadding02505 th { padding: 0.25em 0.5em; } /* higher th paddings for table.tstyle1 */
table.thright th { text-align: right; }

.noborder th, .noborder td { border: none; } /* <<< table no border?  */

table.width33 td 	{ width: 33%; } /* <<< mudar para tdwidth33pc */

table.th-width-min th { width: 1px; white-space: nowrap; }
table.th-width-120 th { width: 120px; }

/*----------------------------------------
      Accessibility and Javascritt
----------------------------------------*/

.switchInline { display: none; }
.switchBlock { display: none; }
.switchNone { display: block; }
.dnone { display: none; }
.dinline { display: inline; }
.dblock { display: block; }


/*----------------------------------------
      Raquo
----------------------------------------*/

div.infobox_dotted span.raquo { display: inline; }
h2 span.raquo { display: none; }
.noraquo span.raquo { display: none; }

/*----------------------------------------
      Ruler
----------------------------------------*/

div.ruler1 {
border-bottom: 1px dotted #ccc;
margin: 0.5em 0;
}















/*
M O D U L E
M O D U L E
M O D U L E
M O D U L E
M O D U L E
M O D U L E
M O D U L E
*/




span.post {
background: url(images/icon_calendar.png) 0px 0px no-repeat;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}
span.author {
background: url(images/icon_user.png) 0px 0px no-repeat;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}
span.comments {
background: url(images/icon_comments.png) 0px 0px no-repeat;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}





div.activities {
margin: 0 !important;
}
div.activities ul#main-activities {
margin: 0;
padding: 5px 0 0 0;
list-style: none;
}
div.activities ul#main-activities li {
border-bottom: 1px dotted #ccc;
padding: 6px 10px 6px 10px;
}
div.activities ul#main-activities li.first {
padding: 12px 10px 6px 10px;
}
div.activities ul#main-activities li span {
color: #888;
}
div.activities ul#main-activities li p {
margin: 3px 0 10px 0;
display: none;
}
div.activities ul#main-activities li a.help {
margin-left: 0.4em;
}
div.activities ul#other-activities {
margin: 0 10px;
}


h2 span.processNumber {
font-weight: normal;
font-size: 0.8em;
color: #888;
}


table.process-files tr th {
width: 70px;
}
table.process-files tr td {
text-align: left;
padding: 5px 0 5px 0 !important;
}



table.process-info th {
/*background: red;*/
width: 145px;
vertical-align: top;
padding-left: 0;
}
table.process-info td {
padding-left: 0 !important;
text-align: left !important;
}
table.process-info td a {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
color: #444 !important;
text-decoration: none !important;
}



table.process-state {
border-collapse: collapse;
margin: 5px 0;
width: 100%;
}
table.process-state th, table.process-state td {
/*border: 1px solid #e8f2e7;*/
}
table.process-state th {
background: #e8f2e7;
color: #397238;
padding: 5px 0 5px 0;
}
table.process-state tr.states th {
border-left: 1px solid #fff;
border-right: 1px solid #fff;
/* background: #e8f2e7 url(../files/cross_clear_04.gif) bottom center no-repeat; */
background: #e8f2e7 url(images/cross_clear_04.gif) bottom center no-repeat;
}
table.process-state tr.states th.selected {
background: #438542;
color: #fff;
}
table.process-state th div {
width: 18px;
margin: 0 auto;
cursor: default;
}

table.process-state tr.states th:hover {
background: #dce8d9;
}
table.process-state tr.states th.selected:hover {
background: #438542;
}

table.process-state tr.states-cross th {
height: 5px;
padding: 0 5px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}
table.process-state tr.states-cross th.selected {
background: url(images/cross_05.gif) bottom center no-repeat;
height: 5px;
}
table.process-state tr.state-desc td {
background: #e8f2e7;
padding: 0 10px 10px 10px;
height: 200px;
vertical-align: top;
}
table.process-state tr.state-desc td h4 {
padding: 10px 0 15px 0 !important;
font-size: 13px;
}





table.process-state-cancelled {
border-collapse: collapse;
margin: 5px 0;
width: 100%;
color: #5b5431 !important;
}
table.process-state-cancelled th, table.process-state td {
}
table.process-state-cancelled th {
background: #f0eee6;
padding: 5px 0 5px 0;
}
table.process-state-cancelled th div {
width: 18px;
margin: 0 auto;
cursor: default;
}

table.process-state-cancelled tr.states th {
border-left: 1px solid #fff;
border-right: 1px solid #fff;
background: #f0eee6 url(images/cross_clear_04.gif) bottom center no-repeat;
}
table.process-state-cancelled tr.states th:hover {
background: #f0eee6;
}

table.process-state-cancelled tr.states th.selected {
background: #f0eee6;
color: #fff;
}
table.process-state-cancelled tr.states th.selected:hover {
background: #f0eee6;
}

table.process-state-cancelled tr.states-cross th {
height: 5px;
padding: 0 5px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}
table.process-state-cancelled tr.states-cross th.selected {
height: 5px;
}
table.process-state-cancelled tr.state-desc td {
background: #f0eee6;
padding: 0 10px 10px 10px;
height: 200px;
vertical-align: top;
}
table.process-state-cancelled tr.state-desc td h4 {
padding: 10px 0 15px 0 !important;
font-size: 13px;
}













table.proccess_main {
margin-top: 10px;
border: none;
}
table.proccess_main tr td {
background: #f5f5f5;
vertical-align: top;
padding: 0;
}
table.proccess_main tr td.gutter {
width: 25px;
background: #fff !important;
}
table.proccess_main tr td div.infobox1 {
margin-top: 0;
}




/* ORGANIZE */

table.firstnoborder tr:first-child th,
table.firstnoborder tr:first-child td {
border-top: none !important;
}
table.lastnoborder tr:last-child th,
table.lastnoborder tr:last-child td {
border-top: none !important;
}

table.firststrongborder tr:first-child th,
table.firststrongborder tr:first-child td {
border-top: 2px solid #ddd !important;
}






/* ISTO ESTAVA NO METAWORKFLOWSPECIFIC.CSS */

div.comment {
margin: 20px 0;
}
div.comment p {
margin-bottom: 0 !important;
}
div.comment p span {
margin-bottom: 0 !important;
/* font-weight: bold !important; */
}
div.comment div {
margin-top: 0;
}
div.comment table td {
vertical-align: top;
/* border: 1px solid red; */
}
div.comment table td.photoHolder {
padding: 5px 15px 0 0;
}


/* MISC - TO ORGANIZE*/

/* p�gina do processo, estados referente �s unidades pagadoras */

span.off {
padding: 1px;
background: #fff;
cursor: default;
color: #888;
border-bottom: 1px dotted #aaa !important;
}
span.on {
cursor: default;
padding: 1px;
background: #e9f2e6;
color: #3d722f;
border-bottom: 1px dotted #aaa !important;
}
span.half {
padding: 1px;
cursor: default;
background: #f6e6b4;
color: #9f7700;
font-weight: bold;
}




/* to orgnize */


/* usado no processo reembolso para mostrar facturas dos itens */

tr.refund-invoices > td {
padding: 10px 10px 10px 10px;
}
tr.refund-invoices table {
width: 100%;
margin: 5px 0 5px 0;
border: 1px solid #ccc;
}
tr.refund-invoices table th, tr.refund-invoices table td {
background: #f0f0f0;
color: #666 !important;
}
