/* -----------------
	
	IST - Job Bank
	
	----------------- */
	
	
	@import url("reset.css");
	@import url("grid.css");
	@import url("typography.css");


/* Structure */
body {
	background: #efefef url(images/back.png);
}

#wrap {
	background:#fff;
	margin:0px auto 50px;
	border:1px solid #e9e9e9;
	border-radius:3px;
	position:relative;
}

#header {
	margin:40px auto 0px;
	height:90px;
	position:relative;
}
#header img {
	margin-left:35px;

}
#header a img {
	border:none;
}
#conteudo {
	margin:20px 40px;
}


/* Typography */

a {
	color:#588ea6;
}
a:hover {
	color:#6db0cd;
}

#conteudo p {
	margin:10px 0px 15px;
}


/* 
Typesetting the pixels
*/

body, input, select {
	font-size:13px;
	line-height:16px;
	color:#666;
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

textarea {
	color:#666;
}

h1, h2, h3, h4, h5, h6, .intro {
	font-weight:200;
	-webkit-font-smoothing: antialiased;
	color:#547184;
}

h1 {
	font-size:32px;
}
h2 {
	font-size:28px;
	margin: 0 0 20px 0;
}
h3 {
	font-size:18px;
	font-weight: normal;
	margin: 25px 0 15px 0;
}
h4 {
	font-size:16px;
	font-weight: normal;
	margin: 25px 0 15px 0;
}
h5 {
	font-size:13px;
	font-weight: normal;
	margin: 20px 0 10px 0;
}

.intro strong {
	font-weight:400;
}


blockquote, pre {
	
}

abbr, address, cite, code {
	
}


/* Imagem */

.imagem-entrada {
	background:#fff url(images/circles.png) 100% 0% no-repeat;
	display:block;
	width:341px;
	height:452px;
	position:absolute;
	right:0px;
	top:50px;
}

/* Intro */

.intro {
	font-size:21px;
	line-height:24px;
	margin:30px 0 0 0;
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.intro span {
	display:block;
	margin:20px 0;
	font-size:16px;
	line-height:22px;
}

/* Login */

#login,
#login-escolha,
#hello-user,
#hello-user p {
	font-size:14px;
}

#login {
	width:500px;
	position:absolute;
	top:0px;
	right:40px;
	z-index:3000;
/*	display:none; */
}

#login-escolha {
	width:300px;
	position:absolute;
	top:20px;
	right:20px;
	z-index:2600;
	display:none;
}

#login-form {
	width:401px;
	position:absolute;
	top:20px;
	right:20px;
	z-index:2400;
	display:none;
}

#hello-user {
	width:400px;
	position:absolute;
	top:20px;
	right:40px;
	z-index:2300;
}

#hello-user p {
	text-align:right;
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.login-links-adicionais {
	display:inline-block;
	margin:14px 0 0 190px;
}

a.ainda-nao, a.esqueceu-password {
	display:inline-block;
	color:#999999;
	text-decoration:none;
	border-bottom:1px solid #e0e0e0;
	margin-left:160px;
}

a.esqueceu-password {
	font-size:11px;
}

a.login-link {
	display:inline-block;
	margin:2px ;
	color:#588ea6;
	text-decoration:none;
	border-bottom:1px solid #e0e0e0;
}

a:hover.ainda-nao,
a:hover.esqueceu-password {
	color:#666666;
}
a:hover.login-link {
	color:#6db0cd;
}

#login-form form {
	
}

#login-form label {
	color:#888;
	display:inline-block;
	padding:0 0 2px 4px;
}
#login-form span {
	color:#888;
}

#login-form .login-block,
#login-form span {
	display:inline-block;
	margin-top:-19px;
}

#login-form input {
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	padding:6px;
	border:1px solid #ccc;
	outline:none;
	background:#fff;
	color:#666;
	display:block;
	width:140px;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

#login-form input:hover, #login-form input:focus {
	color:#333;
	border:1px solid #6db0cd;
	
	box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset;
	-webkit-box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset;
	-moz-box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset;
	-o-box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset;
}

#login-form .login-submit,
#login-form .inputbuttonlogin {
	color:#f1f7fa;
	font-weight:bold;
	float:right;
	padding:5px 18px 5px;
	border:1px solid #66a1b9;	
	width:auto;
	margin-top:-1px;
	
	background: #6db0cd;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#6db0cd), to(#6aaac5));
	background:-webkit-linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	background:-moz-linear-gradient(#6db0cd, #6aaac5);
	background: -o-linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	background: -ms-linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db0cd', endColorstr='#6aaac5',GradientType=0 );
	background: linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	
	text-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.15);
	-webkit-box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.15);
	-moz-box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.15);
	-o-box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.15);
}

#login-form .login-submit:hover,
#login-form .inputbuttonlogin:hover {
	cursor:pointer;
	color:#fff;
	border:1px solid #79b8d3;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	
	box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.25), 0 1px 1px rgba(0,0,0,.15) inset;
	-webkit-box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.25), 0 1px 1px rgba(0,0,0,.15) inset;
	-moz-box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.25), 0 1px 1px rgba(0,0,0,.15) inset;
	-o-box-shadow:0px 1px 0px #79b8d3 inset, 0 1px 3px rgba(0,0,0,.25), 0 1px 1px rgba(0,0,0,.15) inset;
}


/* Top Menu */

.topmenu {
	width:100%;
	margin:30px 0 0 30px;
	font-size:14px;
}

.topmenu ul {
	list-style:none;
}
.topmenu li {
	float:left;
	border-right:1px solid #efefef;
}
.topmenu a {
	display:block;
	padding:0 0 2px 0;
	margin:2px 10px;
	text-transform:uppercase;
	text-decoration:none;
	border-bottom:1px solid #efefef;
}

.topmenu a:hover {
	border-bottom:1px solid #6db0cd;
}


.topmenu li:last-child {
	border-right:0px;
}


.topmenu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Language */

#language {
	width:160px;
	float:right;
	position:relative;
	z-index:3000;
	margin-right:40px;
	text-align:right;
	font-size:12px;
	top:-20px;
}
#language a {
	text-decoration:none;
	padding:2px 4px;
}

#language a:first-child {
	border-right:1px solid #efefef;
	padding-right:8px;
}


/* Vantagens */

#vantagens {
	margin:40px 0 20px 0px;
	width:540px;
}

#vantagens h2 {
	font-size:16px;
	margin:0 0 10px 0;
	font-weight:400;
	padding:8px 0 1px 32px;
	background-image:url(images/icones.png);
	background-repeat:no-repeat;
}

#vantagens p,
#contactos p {
	font-family:'Lucida Grande', Tahoma, Arial, sans-serif;
}


h2.oferta-de-emprego {
	
}

h2.calendarizacao {
	background-position:0px -25px;
}

h2.perfis-de-alunos {
	background-position:0px -50px;
}

h2.confidencialidade {
	background-position:0px -75px;
}

#vantagens h3,
#contactos h3 {
	color:#888888;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:1px;
}

.vantagens-linha {
	margin:20px 0 0;
}
.vantagens-linha:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.vantagem {
	display:block;
	width:240px;
	float:left;
	margin-right:20px;
}

.vantagem p,
#contactos p {
	font-size:11px;
}

/* Contactos */

#contactos {
	display:block;
	width:260px;
	position:absolute;
	bottom:67px;
	right:20px;
}

#contactos h2 {
	margin:0 0 10px 0;
	font-weight:400;
	font-size:16px;
}

#contactos h3 {
	margin:0 0 10px;
}

/* Footer */

#footer {
	height:44px;
	background:url(images/footer.png) 0 0 repeat-x;
	border-bottom:3px solid #e8e8e8;
}

#footer p {
	text-align:right;
	padding:16px 40px 0 0;
	color:#b3b3b3;
}


/* Botões */

#botao {
	
}

a.botao {
	text-decoration:none;
	display:block;
	text-align:center;
	margin:0px
}
#botao a {
	color:#fff;
	position:relative;
	border-radius:3px;
	padding:15px 30px 18px 30px;
}

.posicao-verde {
	margin:-10px 0 0 180px;
	width:220px;
}

.posicao-azul {
	float:right;
	margin:-32px 0 0px 0;
	padding:0px;
}

a.verde {
	background:#99b254;
	margin:10px 0px 40px;
	
	text-shadow:0px -1px 0px #8ba24d;
	-webkit-text-shadow:0px -1px 0px #8ba24d;
	-moz-text-shadow:0px -1px 0px #8ba24d;
	-o-text-shadow:0px -1px 0px #8ba24d;
}
#botao a.verde::before {
	content:"";
	border:1px solid #b6ce78;
	position:absolute;
	top:1px;
	left:1px;
	right:1px;
	bottom:5px;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	
	background: #adc95f;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#adc95f), to(#a4bf5a));
	background:-webkit-linear-gradient(top, #adc95f 0%,#a4bf5a 100%);
	background:-moz-linear-gradient(#adc95f, #a4bf5a);
	background: -o-linear-gradient(top, #adc95f 0%,#a4bf5a 100%);
	background: -ms-linear-gradient(top, #adc95f 0%,#a4bf5a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc95f', endColorstr='#a4bf5a',GradientType=0 );
	background: linear-gradient(top, #adc95f 0%,#a4bf5a 100%);	
}

a.azul {
	background:#66a1b9;
	margin:40px 0px;
	padding:12px 30px 15px 30px !important;
	width:80px;
	
	text-shadow:0px -1px 0px #588ea6;
	-webkit-text-shadow:0px -1px 0px #588ea6;
	-moz-text-shadow:0px -1px 0px #588ea6;
	-o-text-shadow:0px -1px 0px #588ea6;
}
#botao a.azul::before {
	content:"";
	border:1px solid #79b8d3;
	position:absolute;
	top:1px;
	left:1px;
	right:1px;
	bottom:5px;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	
	background: #6db0cd;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#6db0cd), to(#6aaac5));
	background:-webkit-linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	background:-moz-linear-gradient(#6db0cd, #6aaac5);
	background: -o-linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	background: -ms-linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db0cd', endColorstr='#6aaac5',GradientType=0 );
	background: linear-gradient(top, #6db0cd 0%,#6aaac5 100%);
}
#botao a.verde strong,
#botao a.azul strong {
	font-size:14px;
	font-weight:normal;
	position:relative;
	z-index:1;
}
#botao a.verde strong {
	color:#f7f9ef;
	font-size:18px;
}

#botao a.azul strong {
	color:#f1f7fa;
	font-weight:normal;
	position:relative;
	z-index:1;
}

#botao a:hover {
	color:#fff;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	
	box-shadow:0 1px 6px rgba(0,0,0,.15);
	-webkit-box-shadow:0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow:0 1px 6px rgba(0,0,0,.15);
	-o-box-shadow:0 1px 6px rgba(0,0,0,.15);
}

#botao a:hover::before {
/*	border:1px solid white; */
}

#botao a:active {
	box-shadow:0 1px 2px rgba(0,0,0,.10);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.10);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.10);
	-o-box-shadow:0 1px 2px rgba(0,0,0,.10);
}
#botao a:active::before {
	bottom:2px;
}
#botao a:active strong {
	top:2px;
}


/* Gráficos Processo */

#graficos-processo {
	margin:40px 0 40px 60px;
	width:800px;
}

#graficos-processo ul {
	color:#888;
	list-style:none;
	background:#ccc;
	display:inline-block;
	overflow:hidden;
	padding:1px;
	
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}


#graficos-processo li {
	float:left;
	padding:16px 30px;
	position:relative;
	background:#ddd;
	
	text-shadow:0px 1px 0px #efefef;
	-webkit-text-shadow:0px 1px 0px #efefef;
	-moz-text-shadow:0px 1px 0px #efefef;
	-o-text-shadow:0px 1px 0px #efefef;
}

#graficos-processo li.em-curso {
	color:#fff;
	background:#6db0cd;
	padding:16px 30px 16px 55px;
	font-weight:bold;
	
	text-shadow:0px -1px 0px #588EA6;
	-webkit-text-shadow:0px -1px 0px #588EA6;
	-moz-text-shadow:0px -1px 0px #588EA6;
	-o-text-shadow:0px -1px 0px #588EA6;
}

#graficos-processo li.por-iniciar {
	background:#efefef;
	color:#666;
}

#graficos-processo li.completo {
	background:#ddd !important;
	color:#888 !important;
}

#graficos-processo li:last-child {
	
}

#graficos-processo span {
	
}

#graficos-processo li:before {
	content:">";
	position:absolute;
	left:0px;
}

#graficos-processo li:first-child:before {
	content:"";
}

#graficos-processo li.em-curso:before {
	content:"";
	width:0px;
	height:0px;
  	border-color: transparent transparent transparent #ddd;
  	border-style: solid;
  	border-width: 23px;
  	position:absolute;
	left:0px;
	top:0px;
	z-index:3;
}

#graficos-processo li.em-curso:after {
	content:"";
	width:0px;
	height:0px;
  	border-color: transparent transparent transparent #6db0cd;
  	border-style: solid;
  	border-width: 23px;
  	position:absolute;
	right:-46px;
	top:0px;
	z-index:3;
}

#graficos-processo li:first-child.em-curso {
	padding:16px 30px;
}

#graficos-processo li:first-child.em-curso:before {
	border:none;
}

#graficos-processo li:last-child.em-curso:after {
	border:none;
}

#graficos-processo li.em-curso + li.por-iniciar {
	padding:16px 30px 16px 55px;
}



/* Pagination */

.pagination {
	display:block;
	margin-top:40px;
	color:#888;
	font-size:11px;
}
.pagination ul  {
	list-style:none;
}
.pagination li {
	float:left;
}
.pagination span,
.pagination b,
.pagination a {
	padding:7px 10px 6px 10px;
	margin:0px 3px 0 -4px;
	
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
}
.pagination a {
	background:#efefef;
	color:#888;
	text-decoration:none;
}
.pagination a:hover {
	background:#6db0cd;
	color:#fff;
	
	text-shadow:0px -1px 0px #588EA6;
	-webkit-text-shadow:0px -1px 0px #588EA6;
	-moz-text-shadow:0px -1px 0px #588EA6;
	-o-text-shadow:0px -1px 0px #588EA6;
}
.pagination .pagination-current,
.pagination b {
	background:#588EA6;
	color:#fff;
	font-weight:bold;
}
.pagination .pagination-total {
	margin-left:5px;
}



/* Misc */

.clearthis {
	clear:both;
}

div.hr {
	margin-left:-40px;
	width:620px;
	height: 1px;
	background: #fff url(images/div.png) no-repeat;
}
div.hr hr {
	display: none;
}

.bar {
	display:none;
}






/* Forms */

#conteudo input,
#conteudo textarea {
	padding:6px !important;
	margin:0px;
}

#conteudo select {
	margin:3px 0px;
}

#conteudo input,
#conteudo textarea {
	outline:none !important;
	/*font-size:12px !important;*/
	border:1px solid #c8c8c8 !important;
	background:#fafafa !important;
	
	border-radius:2px !important;
	-webkit-border-radius:2px !important;
	-moz-border-radius:2px !important;
	-o-border-radius:2px !important;
}

#conteudo input,
#conteudo textarea,
#login-form input {
	box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
	-o-box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
}

#conteudo input:hover, #conteudo input:focus,
#conteudo textarea:hover, #conteudo textarea:focus {
	background:#fff !important;
	border:1px solid #6db0cd !important;
	
	box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset !important;
	-webkit-box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset !important;
	-moz-box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset !important;
	-o-box-shadow:0 0px 2px rgba(109,176,205,.65), 0 1px 1px rgba(0,0,0,.15) inset !important;
}
#conteudo input[disabled] {
	color: #999 !important;
	border:1px solid #c8c8c8 !important;
	cursor: default;
}
#conteudo input[disabled]:hover, #conteudo input[disabled]:focus {
	background:#fafafa !important;
	
	box-shadow:0 1px 1px rgba(0,0,0,.15) inset !important;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.15) inset !important;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.15) inset !important;
	-o-box-shadow:0 1px 1px rgba(0,0,0,.15) inset !important;
}


#conteudo input[type="submit"],
#conteudo input[type="button"],
input#popup_ok {
	margin: 5px 0;
	font-family:'Helvetica', Arial, sans-serif;
	border:1px solid #4f97b6 !important;
	color:#f1f7fa;
	padding:6px 16px !important;
	
	text-shadow:0px -1px 0px #588ea6;
	-webkit-text-shadow:0px -1px 0px #588ea6;
	-moz-text-shadow:0px -1px 0px #588ea6;
	-o-text-shadow:0px -1px 0px #588ea6;
	
	background: #6db0cd !important;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#6db0cd), to(#6aaac5)) !important;
	background:-webkit-linear-gradient(top, #6db0cd 0%,#6aaac5 100%) !important;
	background:-moz-linear-gradient(#6db0cd, #6aaac5) !important;
	background: -o-linear-gradient(top, #6db0cd 0%,#6aaac5 100%) !important;
	background: -ms-linear-gradient(top, #6db0cd 0%,#6aaac5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db0cd', endColorstr='#6aaac5',GradientType=0 ) !important;
	background: linear-gradient(top, #6db0cd 0%,#6aaac5 100%) !important;
		
	border-radius:18px !important;
	-webkit-border-radius:18px !important;
	-moz-border-radius:18px !important;
	-o-border-radius:18px !important;
	
	box-shadow:0px 1px 0px #82bad1 inset !important;
	-webkit-box-shadow:0px 1px 0px #82bad1 inset !important;
	-moz-box-shadow:0px 1px 0px #82bad1 inset !important;
	-o-box-shadow:0px 1px 0px #82bad1 inset !important;
	
}

#conteudo input[type="submit"]:hover,
#conteudo input[type="button"]:hover,
input#popup_ok:hover {
	color:#fff !important;
	cursor:pointer !important;
	
	background: #579fc3 !important;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#579fc3), to(#5599ba)) !important;
	background:-webkit-linear-gradient(top, #579fc3 0%,#5599ba 100%) !important;
	background:-moz-linear-gradient(#579fc3, #5599ba) !important;
	background: -o-linear-gradient(top, #579fc3 0%,#5599ba 100%) !important;
	background: -ms-linear-gradient(top, #579fc3 0%,#5599ba 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579fc3', endColorstr='#5599ba',GradientType=0 ) !important;
	background: linear-gradient(top, #579fc3 0%,#5599ba 100%) !important;
	
	box-shadow:0px 1px 0px #6dabc7 inset !important;
	-webkit-box-shadow:0px 1px 0px #6dabc7 inset !important;
	-moz-box-shadow:0px 1px 0px #6dabc7 inset !important;
	-o-box-shadow:0px 1px 0px #6dabc7 inset !important;
}

#conteudo input[type="submit"]:active,
#conteudo input[type="button"]:active,
input#popup_ok:active {
	background:#3c82aa !important;
	
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
}


#conteudo input[type="submit"].cancel,
input#popup_cancel {
	margin: 5px 0 5px 5px;
	font-family:'Helvetica', Arial, sans-serif;
	border:1px solid #c0c0c0 !important;
	color:#f1f7fa;
	padding:6px 16px !important;
	
	border-radius:18px !important;
	-webkit-border-radius:18px !important;
	-moz-border-radius:18px !important;
	-o-border-radius:18px !important;
	
	background: #cdcdcd !important;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#cdcdcd), to(#cacaca)) !important;
	background:-webkit-linear-gradient(top, #cdcdcd 0%,#cacaca 100%) !important;
	background:-moz-linear-gradient(#cdcdcd, #cacaca) !important;
	background: -o-linear-gradient(top, #cdcdcd 0%,#cacaca 100%) !important;
	background: -ms-linear-gradient(top, #cdcdcd 0%,#cacaca 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#cacaca',GradientType=0 ) !important;
	background: linear-gradient(top, #cdcdcd 0%,#cacaca 100%) !important;
	
	text-shadow:0px -1px 0px #c2c2c2;
	-webkit-text-shadow:0px -1px 0px #c2c2c2;
	-moz-text-shadow:0px -1px 0px #c2c2c2;
	-o-text-shadow:0px -1px 0px #c2c2c2;
	
	box-shadow:0px 1px 0px #d4d4d4 inset !important;
	-webkit-box-shadow:0px 1px 0px #d4d4d4 inset !important;
	-moz-box-shadow:0px 1px 0px #d4d4d4 inset !important;
	-o-box-shadow:0px 1px 0px #d4d4d4 inset !important;
}

#conteudo input[type="submit"].cancel:hover,
input#popup_cancel:hover {
	color:#fff !important;
	cursor:pointer !important;	
	
	background: #bababa !important;
	background:-webkit-gradient(linear,	0 0, 0 100%, from(#bababa), to(#b5b5b5)) !important;
	background:-webkit-linear-gradient(top, #bababa 0%,#b5b5b5 100%) !important;
	background:-moz-linear-gradient(#bababa, #b5b5b5) !important;
	background: -o-linear-gradient(top, #bababa 0%,#b5b5b5 100%) !important;
	background: -ms-linear-gradient(top, #bababa 0%,#b5b5b5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#b5b5b5',GradientType=0 ) !important;
	background: linear-gradient(top, #bababa 0%,#b5b5b5 100%) !important;
	
	text-shadow:0px -1px 0px #a8a8a8;
	-webkit-text-shadow:0px -1px 0px #a8a8a8;
	-moz-text-shadow:0px -1px 0px #a8a8a8;
	-o-text-shadow:0px -1px 0px #a8a8a8;
	
	box-shadow:0px 1px 0px #c3c3c3 inset !important;
	-webkit-box-shadow:0px 1px 0px #c3c3c3 inset !important;
	-moz-box-shadow:0px 1px 0px #c3c3c3 inset !important;
	-o-box-shadow:0px 1px 0px #c3c3c3 inset !important;
}

#conteudo input[type="submit"].cancel:active,
input#popup_cancel:active {
	background:#a1a1a1 !important;
	
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
}




/* Transitions */

.topmenu a,
#botao a,
a.ainda-nao,
a.esqueceu-password,
a.login-link,
#login-form input,
#conteudo input,
#conteudo textarea,
#conteudo select {
	transition: .2s all ease;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;
}



/*
	Target: Mozilla
 	Mission: Tame
						*/


@-moz-document url-prefix() {
   #login-form {
		width:395px !important;
		top:0px !important;
	}
	#login-form input {
		padding:6px !important;
	}
	#login-form .inputbuttonlogin {
		padding:3px 12px 3px !important;
	}
	#login-form .inputbuttonlogin {
		margin-top:18px !important;
	}
	a.esqueceu-password {
		margin-left:158px !important;
	}
	.tderror span {
		margin-top:0px !important;
	}
}



/*
	Target: IE
 	Mission: DESTROY!!
						*/







/* Process */

.process_files {
	margin: 5px 0px 0px;
}

form table {
	margin: 10px 0 10px 0;
}

table.tview-vertical {
	width: 100%;
	margin: 10px 0;
}
table.tview-vertical th {
	background: #f5f5f5;
	padding: 8px;
	text-align: center;
}
table.tview-vertical td {
	background: #fff;
	padding: 8px;
	text-align: center;
}
table.tview-vertical th, table.tview-vertical td {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: none;
	border-right: none;
	/*vertical-align: middle;*/
}



table.tview-horizontal {
	margin: 10px 0;
}
table.tview-horizontal th {
	border: 1px solid #ccc;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	padding: 10px 10px 10px 0;
}
table.tview-horizontal td {
	text-align: left;
	padding: 6px 0 6px 0;
}
table.tview-horizontal th, table.tview-horizontal td {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: none;
	border-right: none;
}



div.infobox {
	padding: 5px 10px;
	background: #f5f5f5;
	margin: 10px 0;
/*
	border-top: 5px solid #e5e5e5;
	border-bottom: 5px solid #e5e5e5;
*/
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
div.infobox h3 {
	margin: -5px -10px 0 -10px;
	padding: 5px 10px 5px 10px;
	background: #eee;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}


table.proccess_main {
	margin-top: 10px;
	border: none;
}
table.proccess_main tr td {
	background: #f5f5f5;
	vertical-align: top;
}
table.proccess_main tr td.gutter {
	width: 25px;
	background: #fff !important;
}
table.proccess_main tr td div.infobox1 {
	margin-top: 0;
}
table.proccess_main tr td div.infobox1 h3 {
	margin: 0;
}

div.activities {
	margin: 0 !important;
}
div.activities ul#main-activities {
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
}
div.activities ul#main-activities li {
	border-bottom: 1px dotted #ccc;
	padding: 6px 10px 6px 10px;
}
div.activities ul#main-activities li.first {
	padding: 12px 10px 6px 10px;
}
div.activities ul#main-activities li span {
	color: #888;
}
div.activities ul#main-activities li p {
	margin: 3px 0 10px 0;
	display: none;
}
div.activities ul#main-activities li a.help {
	margin-left: 0.4em;
}

div.activities ul#other-activities {
	margin: 0 10px 0 30px;
	padding-top: 5px;
}
div.activities p {
	margin: 10px 5px 5px 10px !important;
}

h2 span.processNumber {
	font-weight: normal;
	font-size: 14px;
	color: #888;
}

div.warning1 {
	margin: 15px 0;
}

.requiredMessage {
	font-size: 11px;
	color: #888;
}




.infobox .tview-vertical th {
	background: transparent; border-color: #eee;
}
.infobox .tview-vertical td {
	background: transparent; border-color: #eee;
}

