/* 
Typesetting the pixels
*/

body, input, select {
	font-size:12px;
	line-height:14px;
	color:#666;
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .intro {
	font-weight:200;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size:32px;
}
h2 {
	font-size:28px;
}
h3 {
	font-size:26px;
}
h4 {
	font-size:22px;
}
h5 {
	font-size:18px;
}

.intro strong {
	font-weight:400;
}

p {
	font-family:'Lucida Grande', Tahoma, Arial, sans-serif;
}

blockquote, pre {
	
}

abbr, address, cite, code {
	
}