<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name= "ConversionPattern" value= "%5p [%t] (%F:%L) - %m%n"/>
		</layout>
	</appender>

	<logger name="pt.ist.fenixWebFramework.servlets.filters.ProfilingFilter" additivity="false">
		<level value="info"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>

	<logger name="pt.ist.fenixframework.plugins.luceneIndexing" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>

	<logger name="myorg" additivity="false">
		<level value="info"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>

	<root>
		<priority value="warn"/>
		<appender-ref ref="ConsoleAppender"/>
	</root>

</log4j:configuration>