/* -----------------
	
	IST - SOTIS
	
	----------------- */
	
	
	/* @import url("reset.css"); */
	/* @import url("grid.css"); */


/* Structure */
body {
	font:100%/1.5 'Helvetica Neue';
	background:url(images/bg_verde.png);
	color:#666;
	margin:0px;
	padding:0px;
}

input,
select,
textarea {
	font-family:'Helvetica Neue';
}

h1 {
	font-size:2em;
	margin:0;
}
h1 a {
	color:#fff;
}

h2, h3, h4, h5, h6 {
	color:#615c54;
}

h2, h3, h4, h5, h6,
p.intro {
	text-shadow:0px 1px 1px #f8f3eb;
	-webkit-font-smoothing: antialiased;
}

p, ol, ul {
	color:#817868;
	font-size:0.8em;
}
a {
	color:#4f7e7f;
	text-decoration:none;
}
a:hover {
	color:#68b0b2;	
}



/*******************************************************************************
 * Structure
 ******************************************************************************/

#header,
#content,
#footer {
	width:100%;
}

.container {
	position:relative;
	max-width:1200px;
	margin:0 auto;
}

#header {
	position:relative;
}
	#header .container {
		padding:1.75em 0;
	}

#content {
	position:relative;
	background:url(images/bg_creme.png);
}
	#content .container {
		padding:50px 0 50px;
	}
	#content-footer {
		width:100%;
		height:16px;
		position:absolute;
		bottom:-16px;
		background:url(images/content_shadow.png) repeat-x;
	}

	#perfil {
		position:absolute;
		top:10px;
		right:0px;
	}

	#navigation {
		margin-top:5em;
	}

#footer {
	margin-top:2.5em;
}


/* Menus */

#perfil ul,
.topmenu ul {
	list-style:none;
}
#perfil ul li,
.topmenu ul li {
	display:inline;
}

#login,
.login {
	display:inline;
}

/* Login */

#login-form {
	position:absolute;
	top:0.75em;
	right:0px;
	
	color:#f9f4ec;
	font-size:0.8em;
}

	.forgot-password {
		position:absolute;
		right:0px;
		font-size:0.75em;
	}
	
#perfil a,	
.login a,	
a.forgot-password {
	color:rgba(255,255,255,0.7);
}
#perfil a:hover,
.login a:hover,
a:hover.forgot-password {
	color:rgba(255,255,255,1);
}

#login-form input {
        border-radius:3px;
        outline:none;
    }

    #login-form input {
        color:#868178;
        border:1px solid rgba(0,0,0,0.35);
        background:#f9f4ec;
        padding:2px 6px;
		font-size:1em;
        
        box-shadow:0px 0px 1px rgba(0,0,0,0.2) inset, 0px 1px 0px rgba(255,255,255,0.25);
    }
    #login-form input:hover,
    #login-form input:focus {
        color:#615c54;
        background:#fff;
    }




#login-form input.inputbuttonlogin {
    color:rgba(255,255,255,0.8);
    border:1px solid #7a746b;

    background-color: #6db1b2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(109, 177, 178)), to(rgb(75, 143, 145)));
    background-image: -webkit-linear-gradient(top, rgb(109, 177, 178), rgb(75, 143, 145));
    background-image: -moz-linear-gradient(top, rgb(109, 177, 178), rgb(75, 143, 145));
    background-image: -o-linear-gradient(top, rgb(109, 177, 178), rgb(75, 143, 145));
    background-image: -ms-linear-gradient(top, rgb(109, 177, 178), rgb(75, 143, 145));
    background-image: linear-gradient(top, rgb(109, 177, 178), rgb(75, 143, 145));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6db1b2', EndColorStr='#4b8f91');

    box-shadow:0px 1px 0px #98d3d4 inset, 0px 1px 3px rgba(0,0,0,0.25);

    text-shadow:0px -1px 0px rgba(0,0,0,0.25);

	color:#fff;
    text-shadow:0px -1px 0px #43797b;
}

    #login-form input.inputbuttonlogin:hover,
    #login-form input.inputbuttonlogin:focus {
        color:rgba(255,255,255,1);

        background-color: #8ac1c1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(138, 193, 193)), to(rgb(111, 165, 167)));
        background-image: -webkit-linear-gradient(top, rgb(138, 193, 193), rgb(111, 165, 167));
        background-image: -moz-linear-gradient(top, rgb(138, 193, 193), rgb(111, 165, 167));
        background-image: -o-linear-gradient(top, rgb(138, 193, 193), rgb(111, 165, 167));
        background-image: -ms-linear-gradient(top, rgb(138, 193, 193), rgb(111, 165, 167));
        background-image: linear-gradient(top, rgb(138, 193, 193), rgb(111, 165, 167));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8ac1c1', EndColorStr='#6fa5a7');

        box-shadow:0px 1px 0px #addcdd inset, 0px 1px 3px rgba(0,0,0,0.35);
    }

    #login-form input.inputbuttonlogin:active {
        background-color: #4b8f91;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(75, 143, 145)), to(rgb(109, 177, 178)));
        background-image: -webkit-linear-gradient(top, rgb(75, 143, 145), rgb(109, 177, 178));
        background-image: -moz-linear-gradient(top, rgb(75, 143, 145), rgb(109, 177, 178));
        background-image: -o-linear-gradient(top, rgb(75, 143, 145), rgb(109, 177, 178));
        background-image: -ms-linear-gradient(top, rgb(75, 143, 145), rgb(109, 177, 178));
        background-image: linear-gradient(top, rgb(75, 143, 145), rgb(109, 177, 178));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4b8f91', EndColorStr='#6db1b2');

        box-shadow:0px 1px 2px rgba(0,0,0,0.25) inset, 0px 1px 2px rgba(0,0,0,0.25);

        text-shadow:0px -1px 2px rgba(0,0,0,0.25);
    }



/* Tabs */

#tabs {
	position:absolute;
	bottom:-0.75em;
	right:0px;
}

	#tabs ul {
		list-style:none;
		padding:0px;
	}

		#tabs li {
			display:inline;
		}
			#tabs a {
				color:rgba(255,255,255,0.8);
				padding:10px 16px;
				border-radius:3px 3px 0 0;
				background:rgba(0,0,0,0.15);
				box-shadow:0px 1px 1px rgba(0,0,0,0.25) inset;
				vertical-align:5px;
			}
			#tabs a:hover {
				color:#fff;
				background:rgba(0,0,0,0.35);
			}
			#tabs a.selected {
				color:#4f7e7f;
				background:url(images/bg_creme.png);
			}

.bar {
	display:none;
}


/* Language */

#language {
	display:none;
}




/* Footer */

#footer,
#footer p {
	color:#f5ecdc;
	text-align:right;
}



/* Misc */

.clearthis {
	clear:both;
}



/* Transitions */

.topmenu a,
#botao a,
a.ainda-nao,
a.esqueceu-password,
a.login-link,
#login-form input,
#conteudo input,
#conteudo textarea,
#conteudo select {
	transition: .2s all ease;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;
}



/*
	Target: Mozilla
 	Mission: Tame
						*/


@-moz-document url-prefix() {
   
}



/*
	Target: IE
 	Mission: DESTROY!!
						*/



/* Responsive */

@media only screen and (max-width:1200px) {
	.container {
		max-width:960px;
	}
}