/* ---------------------------
	
	IST - AQUA Theme for SOTIS
	
	--------------------------- */
	


/* Structure */
body {
	font:100%/1.5 'Helvetica Neue';
	background:url(images/bg_verde.png);
	color:#666;
	margin:0px;
	padding:0px;
}

input,
select,
textarea {
	font-family:'Helvetica Neue';
}

h1 {
	font-size:2em;
	margin:0;
}
h1 a {
	color:#fff;
}

h2, h3, h4, h5, h6 {
	color:#615c54;
}

h2, h3, h4, h5, h6,
p.intro {
	text-shadow:0px 1px 1px #f8f3eb;
	-webkit-font-smoothing: antialiased;
}

p, ol, ul {
	color:#817868;
	font-size:0.8em;
}
a {
	color:#4f7e7f;
	text-decoration:none;
}
a:hover {
	color:#68b0b2;	
}



/*******************************************************************************
 * Structure
 ******************************************************************************/
body {
	padding:0 2%;
}

#header,
#content,
#footer {
	width:100%;
}

.container {
	position:relative;
	max-width:1200px;
	margin:0 auto;
}

#header {
	position:relative;
}
	#header .container {
		padding:1.75em 0;
	}

#content {
	position:relative;
	background:url(images/bg_creme.png);
	padding:50px 0px 50px;
	
	border-radius:3px;
	
	box-shadow:0px 1px 4px rgba(0,0,0,0.2);
}
	#content .container {
		padding:50px 20px 50px;
	}
	#content #conteudo {
		padding:0 20px;
	}
	#perfil {
		position:absolute;
		top:10px;
		right:0px;
	}

	#navigation {
		margin-top:5em;
	}

#footer {
	margin-top:2.5em;
}


/* Menus */

#perfil ul,
.topmenu ul {
	list-style:none;
}
#perfil ul li,
.topmenu ul li {
	display:inline;
	margin-left:8px;
}

#login,
.login {
	display:inline;
}




/* Tabs */

#tabs {
	position:absolute;
	bottom:-0.75em;
	right:0px;
}

	#tabs ul {
		list-style:none;
		padding:0px;
	}

		#tabs li {
			display:inline;
		}
			#tabs a {
				color:rgba(255,255,255,0.8);
				padding:10px 16px;
				border-radius:3px 3px 0 0;
				background:rgba(0,0,0,0.15);
				box-shadow:0px 1px 1px rgba(0,0,0,0.25) inset;
				vertical-align:5px;
			}
			#tabs a:hover {
				color:#fff;
				background:rgba(0,0,0,0.35);
			}
			#tabs a.selected {
				color:#4f7e7f;
				background:url(images/bg_creme.png);
			}

.bar {
	display:none;
}


/* Language */

#language {
	position:absolute;
	z-index:5;
	right:0;
	top:45px;
}

/* Google Search */

#globalsearch {
	position:absolute;
	right:40px;
	top:45px;
}


/* Footer */

#footer,
#footer p {
	color:#f5ecdc;
	text-align:right;
}


/* Nav-Bar */
#admin-bar {
	/* display:none; */
}


/* Misc */

.clearthis {
	clear:both;
}



/*
	Target: Mozilla
 	Mission: Tame
						*/


@-moz-document url-prefix() {
   
}



/*
	Target: IE
 	Mission: DESTROY!!
						*/

