
/************************************
       FLOW
***********************************/

div.flow {
margin-top: 1.5em;
width: 130px;
float: right;
}
div.box {
border: 2px solid #ddd;
background: #fafafa;
padding: 5px 5px;
text-align: center;
overflow: hidden;
}
div.box a {
color: #555 !important;
font-weight: normal;
background: none;
text-decoration: none !important;
border-bottom: 1px solid #888;
}
div.box a:hover {
text-decoration: none;
}
div.arrow {
background: url(images/arrow01.gif) bottom center no-repeat;
height: 20px;
width: auto;
}
div.yellow {
border: 2px solid #dfca61;
background: #fdfbf4;
}
div.red {
border: 2px solid #d5866c;
background: #fcf6f4;
}
div.green {
border: 2px solid #92c688;
background: #f8fbf7;
}


/************************************
       PROCCESS COMMENTS
***********************************/

div.comment {
margin-bottom: 1.5em;
padding: 1em;
}
div.comment p {
margin: 0 0 0.5em 0 !important;
}
div.comment p span {
font-weight: bold !important;
}
div.comment div.body {
margin: 0 !important;
}


/************************************
       PROCCESS SEARCH RESULTS
***********************************/

div.searchoptions {
margin: 0.75em 0 1em 0;
}
div.searchoptions form {
display: inline;
}
div.searchoptions table form table {
margin: 0.5em 0;
}
div.searchoptions table table th {
vertical-align: middle;
border: none;
padding: 0 4px 0 0;
}
div.searchoptions table table td {
vertical-align: middle;
border: none;
padding: 0 2px 0 0;
}

table.plist {
border-collapse: collapse;
width: 100%;
margin: 1em 0;
}
table.plist th {
text-align: left;
font-weight: normal;
padding: 2px 4px;
border: 1px solid #ccc;
background: #f5f5f5;
text-align: center;
}
table.plist td {
text-align: center;
padding: 2px 4px !important;
border: 1px solid #ccc;
background: #fff;
}

table.plist td.smalltxt {
font-size: 0.9em;
}


/************************************
       MISC COMPRAS
***********************************/


/* lista de paying units viewAcquisitionProcess.jsp */
table.payingunits {
margin: 0;
}
table.payingunits th {
display: none;
border: 1p 
}
table.payingunits td {
padding: 0 10px 0 0 !important;
}

/* lista de items viewAcquisitionProcess.jsp */
div.item {
margin-top: 1em;
}
div.item strong {
}


/* process number in process page title */
.acquisitionNumber {
color: #777;
font-weight: normal;
padding-top: 1em;
}


/* paying units tabular list */
.punits span.off {
margin: 0.5em 0;
}
.punits span.on {
margin: 0.5em 0;
}
.punits td {
padding: 4px !important;
}
.punits div.tooltip div.tooltipText {
width: 330px;
}
.punits div.tooltip span { border-bottom: none; }
.punits div.tooltip div.tooltipText span { border-bottom: none; }


/************************************
       ?? MISC ??
***********************************/


div.expenditures {
margin: 1.25em 0;	
}
div.expenditures p {
margin: 0.25em 0 !important;
}

a.selected {
background: #faf5dd;
padding: 0.25em;
text-decoration: none !important;
}

span.link {
color: #d17647;
text-decoration: underline;
font-weight: bold;
cursor: pointer;
}

span.off {
padding: 1px;
background: #fff;
cursor: default;
}
span.on {
cursor: default;
padding: 1px;
font-weight: bold;
background: #dcecdc;
color: #397239;
}
span.half {
padding: 1px;
cursor: default;
background: #f6e6b4;
color: #9f7700;
font-weight: bold;
}

a.bluelink {
color: #41a7da !important;
font-weight: normal;
text-decoration: none;
}


div.infobox a.big {
padding: 4px 0;
}
div.infobox a.big:hover {
background: #fef7e2;
}


table tr.itemmbottom th { padding-bottom: 1em; }
table tr.itemmbottom td { padding-bottom: 1em; }


table.tstyle1 ul {
margin: 0;
padding: 0;
}
table.tstyle1 table td {
padding: 0;
}

