body {
margin: 0;	  
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 1.6em;
color: #555;
background: #f0f0f0;
}

div, p, form, h1, h2, h3, h4 {
margin: 0;
padding: 0;
}


/************************************
       HEADINGS
***********************************/

h1 {
font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
font-size: 22px;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #555;
padding: 0.75em 0 0.5em 0;
}

h3 {
font-size: 1.2em;
}

h4 {
}


/************************************
       LINKS
***********************************/

a {
color: #d17647;
font-weight: bold;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
#content a {
text-decoration: underline;
}
a img { border: none; }


.secondaryLink {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
font-weight: normal;
color: #444 !important;
text-decoration: none !important;
}
.secondaryLink:hover {
font-weight: normal;
}

.thsecondaryLink th a {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
font-weight: normal;
color: #444 !important;
text-decoration: none !important;
}
.thsecondaryLink th a:hover {
font-weight: normal;
}


/************************************
       LAYOUT
***********************************/

#header { width: 875px; }
#mainnav { width: 875px; }
#container { width: 875px; }
#container2 { }
#container3 { width: 845px; } /* (-30) padding*/
#content { width: 825px; } /* (-30) + (-20) padding*/
#footer { width: 875px; }

div.wrapper { padding-right: 150px; } /* used when div#flow is visible */

#container {
position: relative;
margin: 0 auto;
padding: 0 15px;
border-left: 2px solid #eee;
border-right: 2px solid #eee;
border-bottom: 2px solid #eee;
background: #fff;
}

#container3 {
padding: 0 15px;
}

#content {
float: left;
padding: 10px 0 2em 10px;
}

#content p {
margin: 1em 0;
}


/************************************
       HEADER
***********************************/

div#header {
padding-bottom: 0;
padding-top: 10px;
background: #15587a;
position: relative;
}

/* logo */

div#header div#logo {
width: 500px;
margin-left: 27px;
padding-bottom: 17px;
height: 55px;
height: 1%;
}
div#header div#logo img {
margin-top: 12px;
margin-right: 12px;
float: left;
padding-bottom: 5px;
}
div#header div#logo div#text {
padding-top: 17px;
}
div#header div#logo div#text h1 {
color: #fff;
margin-bottom: 23px;
}
div#header div#logo div#text p {
font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
font-size: 12px;
margin-top: -20px;
color: #b6d7e8;
}

/* support nav */

div#header div#supportnav {
position: absolute;
top: 15px;
right: 0;
color: #fff;
padding-right: 20px;
}
div#header div#supportnav a {
color: #9fd8ff;
}


/* language and global search */

div#header div#headerforms {
position: absolute;
top: 45px;
right: 0;
padding-right: 18px;
}
div#header div#headerforms form#language {
margin-right: 10px;
}
div#header div#headerforms form#globalsearch {
}
div#header div#headerforms form {
float: left;
}

/* login form */

div#header div#login {
/*
position: absolute;
top: 15px;
right: 0;
*/
display: inline;
color: #fff;
/*padding-right: 20px;*/
}

div#header div#login span {
padding-right: 5px;
}
div#header div#login a {
color: #9fd8ff;
}

form.login {
float: right;
}

/************************************
       MAINNAV
***********************************/

#mainnav {
font-size: 93%;
background: #15587a;
text-transform: uppercase;
}
body.top #mainnav {
float: left; /* mozilla 1.7.2 (ff 0.9.3) main nav fix + div clear both */
}

#mainnav ul {
bottom: 0;
margin: 0;
padding: 0 10px 0 25px;
list-style: none;
}
#mainnav ul li {
display: inline;
margin: 0;
padding: 0;
}
#mainnav a {
position: relative;
float: left;
margin: 0 0 0 2px;
text-decoration: none;
background: #6eb6da url(images/tab_corner2_01.gif) top right no-repeat !important;
}
#mainnav a span {
display: block;
padding: 6px 15px 6px 15px;
color: #fff;
}
#mainnav a span {
float: none;
}
#mainnav ul li div.lic1 {
position: absolute;
top: 0;
left: 0;
width: 5px;
height: 5px;
background: url(images/tab_corner1_01.gif) no-repeat;
}
#mainnav ul li.selected a {
background: #a1cfe7 url(images/tab_corner2_02.gif) top right no-repeat !important;
}
#mainnav ul li.selected div.lic1 {
background: url(images/tab_corner1_02.gif) top right no-repeat !important;
}


/************************************
       SECONDARY NAV
***********************************/

#container #secondarynav {
position: relative;
height: 3.2em;
border-top: 4px solid #a1cfe7;
background: #e4edf2;
color: #4b7d99;
}
#container #secondarynav ul {
bottom: 0;
margin: 0;
padding: 9px 10px 0 23px;
}
#container #secondarynav ul li {
bottom: 0;
margin: 0;
display: inline;
}
#container #secondarynav a {
margin: 0;
text-decoration: none;
padding: 4px;
}
#container #secondarynav a span {
color: #4b7d99;
}
#container #secondarynav a:hover span {
text-decoration: underline !important;
}
#container #secondarynav a span {
float: none;
}
#container #secondarynav a.new {
margin-left: 4px;
padding-left: 15px;
background: url(images/plus01.gif) 0px 0.55em no-repeat;
}
#container #secondarynav div.c1 {
position: absolute;
bottom: -5px;
left: 0;
width: 7px;
height: 7px;
background: url(images/corner5_02.gif) no-repeat;
}
#container #secondarynav div.c2 {
position: absolute;
bottom: -5px;
right: 0;
width: 7px;
height: 7px;
background: url(images/corner6_02.gif) no-repeat;
}

#container #secondarynav div.c1[class] { bottom: 0; } /* all except <= ie6 */
#container #secondarynav div.c2[class] { bottom: 0; } /* all except <= ie6 */


/************************************
       SIDEBAR
***********************************/

#sidebar {
width: 175px;
float: left;
margin: 1em 0 0 0;
padding: 0 10px 2em 0;
}

#sidebar ul {
list-style: none;
padding: 1px 0 0 0;
margin: 1em 0 0 0;
}
#sidebar ul li {
padding: 5px 0 5px 0;
background: url(images/dotted01.gif) bottom left repeat-x;
}
#sidebar ul li a {
display: block;
color: #5d9aba;
}


/************************************
       FOOTER
***********************************/

#footer {
position: relative;
z-index: 1;
clear: both;
margin: 0 0 15px 0;
padding: 10px 0;
background: #15587a;
}
#footer p {
color: #fff;
text-align: center;
padding: 0;
margin: 0;
}
#footer p a {
color: #fff;
background: #2763A5;
border-bottom: 1px dotted #FFFFFF;
}
#footer p a:hover {
color: #fff;
text-decoration: none;
border-top: 1px dotted #fff;
border-bottom: 0px dotted #fff;
}


#footer div.c1 {
position: absolute;
bottom: -6px;
left: 0;
width: 7px;
height: 7px;
background: url(images/corner1_02.gif) no-repeat;
}
#footer div.c2 {
position: absolute;
bottom: -6px;
right: 0;
width: 7px;
height: 7px;
background: url(images/corner2_02.gif) no-repeat;
}

#footer div.c1[class] { bottom: 0px; } /* all except <= ie6 */
#footer div.c2[class] { bottom: 0px; } /* all except <= ie6 */

#footer div.c3 {
position: absolute;
top: 0px;
left: 0;
width: 7px;
height: 7px;
background: url(images/corner3_02.gif) no-repeat;
}
#footer div.c4 {
position: absolute;
top: 0px;
right: 0;
width: 7px;
height: 7px;
background: url(images/corner4_02.gif) no-repeat;
}


/************************************
       BUTTONS
***********************************/

input {
color: #555;
font-size: 11px;
padding: 2px;
}

.inputbutton {
padding: 3px 4px;
color: #fff;
border: 1px solid #ab4f20;
font-weight: bold;
background: #e89267;
}

.inputbuttonlogin {
padding: 3px 4px;
color: #fff;
border: 1px solid #ab4f20;
font-weight: bold;
background: #e89267;
}


/************************************
       INFO
***********************************/

div.infobox_dotted {
border: 1px dotted #aaa;
padding: 15px 10px;
background: #fff;
margin: 1em 0;
}
div.infobox_dotted ul {
margin: 0;
padding: 0;
padding-left: 2em;
}


div.infobox {
border: 1px solid #e0e0e0;
padding: 5px 10px;
background: #f7f7f7;
margin: 1em 0;
}


div.infobox_warning {
border: 1px solid #f0ce6f;
padding: 5px 10px;
background: #fbf2cf;
margin: 1em 0;
}

div.highlightBox {
border: 1px solid #f0ce6f;
padding: 5px 10px;
background: #fbf2cf;
margin: 0.5em 0;
}


/************************************
       TABULAR INFO
***********************************/

table {
border-collapse: collapse;
}
table table {
border-collapse: collapse; /* auto-complete input left margin fix */
}
table th {
font-weight: normal;
}
table td {
}


/* table styles */

table.tstyle1 th {
text-align: left;
padding: 0.2em 0;
white-space: nowrap;
vertical-align: top;
padding-right: 10px;
}
table.tstyle1 td {
text-align: left;
padding: 0.2em 0;
}

table.tstyle2 th {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle2 td {
border: 1px solid #ccc;
background: #fff;
padding: 0.4em 0.5em;
text-align: center;
}

table.tstyle3 th {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle3 td {
border: 1px solid #ccc;
background: #fff;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle3 th, table.tstyle3 td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: none;
border-right: none;
}

table.tstyle4 th {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 0.4em 0.5em;
text-align: center;
}
table.tstyle4 td {
border: 1px solid #ccc;
background: #fff;
padding: 0.4em 0.5em;
text-align: center;
}

table.tstyle4 {
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 4px solid #eee;
border-bottom: 4px solid #eee;
}
table.tstyle4 th {
border-color: #ddd;
}
table.tstyle4 td {
border-color: #ddd;
}


/* table text align */

table.taleft th, table.taleft td { text-align: left !important; }
table.tcenter th, table.tcenter td { text-align: center !important; }
table.tright th, table.tright td { text-align: right !important; }


/* table background */
table.thbgwhite th {
background: #fff;
}

/* table padding */
table.thpaddingleft0 th {
padding-left: 0;
}


/* structural */
table.structural {
border-collapse: collapse;
margin: 0;
padding: 0;
margin: 1em 0;
}
table.structural th {
}
table.structural td {
margin: 0;
padding: 0;
vertical-align: top;
}


/************************************
       FORMS
***********************************/


form table {
margin: 1em 0 1.5em 0;
}
form table th, form table td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
vertical-align: top;
text-align: left;
}
form table th {
padding: 5px 0;
white-space: nowrap;
}
form table td {
padding: 5px 0 5px 10px;
}


/* tables inside form tables */
form table table {
margin: 0;
}
form table table tr th {
margin: 0;
padding: 0 3px 0 0 !important;
border: none;
}
form table table tr td {
margin: 0;
padding: 0 3px 0 0 !important;
border: none;
}


/* table errors */
table tr td.tderror {
border-top: none !important;
border-bottom: none !important;
border-right: none !important;
color: #cc2200;
}
table tr td.tderror span {
background-color: #fff0dd;
}


/* other form related rules */
form span.required {
color: #c20;
}

form h3 {
margin: 1em 0 0.5em 0;
background: #f5f5eb;
border-top: 1px solid #e6e6dc;
padding: 2px 0;
}

h3.bar {
margin: 1em 0 0.5em 0;
background: #f5f5eb;
border-top: 1px solid #e6e6dc;
padding: 2px 0;
}


form table {
margin: 1em 0 1.5em 0;
}
form table th, form table td {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
vertical-align: top;
text-align: left;
}
form table th {
padding: 5px 0;
white-space: nowrap;
}
form table td {
padding: 5px 0 5px 10px;
}


/************************************
       EXCEPTION
***********************************/

div.errorcontainer {
width: 32em;
margin: 0px auto;
background: #fff;
padding: 0 0.5em;
}
div.errorlogo {
padding: 1em 1em 0.5em 1em;
background: #15587a;
position: relative;
}
div.errorcontainer h2 {
color: #555;
}
div.errortxt {
padding: 0 1em 2em 1em;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 1.6em;
}


/* used in exception screen only? */
div.corners {
height: 7px;
position: relative;
background: #15587a;
}
div.corners div.c1 {
background: url(images/corner1_02.gif) no-repeat;
width: 7px;
height: 7px;
position: absolute;
bottom: -13px;
left: 0;
}
div.corners div.c2 {
background: url(images/corner2_02.gif) no-repeat;
width: 7px;
height: 7px;
position: absolute;
bottom: -13px;
right: 0;
}

div.corners div.c1[class] { bottom: 0; } /* all except <= ie6 */
div.corners div.c2[class] { bottom: 0; } /* all except <= ie6 */


/************************************
       ERROR, SUCCESS, WARNING
***********************************/

span.error0 {
color: #cc2200;
background-color: #fff0dd;
}


div.error1 {
margin: 0.75em 0;
padding: 0.4em 0.4em 0.4em 2.5em;
background: #ffeddd url(images/error01.gif) 0.5em 0.5em no-repeat;
}

div.error1 span {
color: #cc1500;
}

div.warning1 {
margin: 0.75em 0;
}
div.warning1 span {
padding: 5px 5px 5px 25px;
background: #fbf2cf;
margin: 1em 0;
color: #8c6a0b;
background: #fbf2cf url(images/warning01.gif) 3px center no-repeat;
}

div.warning2 {
margin: 1em 0;
padding: 0.5em 1.25em 0.75em 1.25em;
color: #8c6a0b;
border-top: 1px solid #dacea0;
border-bottom: 1px solid #dacea0;
background: #fbf2cf;
}
div.warning2 p {
margin: 0 0 0.75em 0 !important;
}

div.warning3 {
margin: 0.75em 0;
padding: 0.4em 0.4em 0.4em 2.5em;
background: #fbf2cf url(images/warning01.gif) 0.5em 0.5em no-repeat;
}


/************************************
       OPERATIONS
***********************************/

ul.operations {
margin: 0;
padding-top: 0;
padding-left: 1.3em;
}
ul.operations li {
margin-top: 0;
padding-top: 0;
}


/************************************
       DOCUMENTS
***********************************/

.documents {
margin: 1em 0;
}
.documents p {
margin: 0.25em 0 !important;
background: url(images/doc.gif) left 5px no-repeat;
padding: 0 0 0 14px;
}
.documents em {
}


/************************************
       FORMS CONTEXTUAL HELP
***********************************/

div.chelp {
display: inline;
padding-top: 5px;
padding-bottom: 15px;
}
div.chelp img {
padding-right: 10px;
}
div.closed div.chelptext {
display: none;
}
div.copen div.chelptext {
display: inline;
}
div.chelp div.icon {
background: #efa url(images/icon_help.gif) no-repeat;
width: 20px;
height: 20px;
}
div.chelp {
position: relative;
}
div.chelp div.chelptext {
position: absolute;
z-index: 10;
top: 0;
left: 25px;
width: 200px;
background: #edf4f8;
padding: 5px 10px;
border: 1px solid #c5dae7;
}
div.chelp div.chelptext a {
font-weight: normal;
}


/************************************
       TOOLTIP
***********************************/

div.tooltip {
display: inline;
position: relative
}
div.tooltip img {
padding-top: 5px;
}
div.tooltipClosed div.tooltipText {
display: none;
}
div.tooltipOpen div.tooltipText {
display: inline;
}
div.tooltip div.tooltipText {
position: absolute;
z-index: 10;
top: 0;
left: 25px;
width: 325px;
background: #edf4f8;
padding: 5px 10px;
border: 1px solid #c5dae7;
text-align: left;
}
div.tooltip div.tooltipText a {
font-weight: normal;
}
div.tooltip div.tooltipText ul {
margin: 0;
padding: 0;
list-style: none;
text-align: left;
}
div.tooltip div.tooltipText ul li {
margin: 0;
padding: 0;
}
div.tooltip span { border-bottom: 1px dotted #888; cursor: default; }
div.tooltip div.tooltipText span { border-bottom: none; }


/************************************
       PAGE HELP ICON
***********************************/

div.helpicon {
width: 10px;
height: 10px;
float: right;
margin-top: 14px;
}
div.helpicon a {
outline: none;
}


/************************************
       AUTOCOMPLETE
***********************************/

/** new auto complete ***/
ul.autocomplete label {
display: block;
}

/* autocomplete */
input.autocomplete-loading {
background-image: url(images/autocomplete.gif);
background-position: center right;
background-repeat: no-repeat;
}
div ul.autocomplete {
/*width: 375px !important;*/
position: absolute;
background-color: #fff;
border: 1px solid #aaa;
border-top: none;
margin: 0px;
padding: 0px;
list-style: none;
color: #000;
display: none;
z-index: 1000;
}
div ul.autocomplete li {
display: block;
padding: 1px 4px;
cursor: pointer;
}
div ul.autocomplete li.selected {
background: #fceed0;
}
div ul.autocomplete li strong {
}


/************************************
       DASHBOARD WIDGETS
***********************************/

div.portlet {
border: 1px solid #ccc;
margin-right: 10px;
background: #fff;
margin-bottom: 10px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 1.6em;
}

div.portlet a {
color: #d17647;
font-weight: bold;
text-decoration: none;
}
div.portlet a:hover {
text-decoration: underline;
}

div.portlet-header {
background: #eeeeee;
padding: 6px 10px;
margin: 0 0 0 0;
font-weight: bold;
color: #555;
-moz-border-radius-topleft: 6px;
-webkit-border-top-left-radius: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-right-radius: 6px;
border-bottom: 1px solid #ddd;
margin-bottom: 1px;
border: none;
}
div.portlet-content {
margin-top: 0;
}
div.portlet-content p {
padding: 0 10px;
}
div.portlet-content table {
border-top: 2px solid #fff !important;
}
div.portlet table {
border-collapse: collapse;	
margin-top: 0;
}
div.portlet table tr td {
vertical-align: top;
padding: 3px 10px !important;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}
div.portlet table tr.first td {
border-top: 1px solid #ddd !important;
}
div.portlet table tr.last td {
border-bottom: none;
}

.column {
width: 270px;
float: left;
padding-bottom: 100px;
}
.ui-sortable-placeholder {
border: 1px dotted #ccc !important;
visibility: visible !important;
height: 50px !important;
}
.ui-sortable-placeholder * {
visibility: hidden;
}

/* quick search widget */

div.portlet-content table.quicksearch th, div.portlet-content table.quicksearch td {
margin: 0 !important;
padding: 0 !important;
text-align: left;
border: none !important;
}
table.quicksearch th {
font-weight: normal;
}
div.portlet-content table.quicksearch th, div.portlet-content table.quicksearch td {
padding: 0 4px !important;
}
div.portlet-content table.quicksearch {
margin: 1em 0;
}

div.portlet-header .ui-icon {
       float: right;     
       cursor: pointer;   
}

/************************************
       JS NOT AVAILABLE
***********************************/

div.nojavascript {
color: #888;
font-size: 0.9em;
}
div.nojavascript img {
display: none;
}
div.nojavascript div.chelptext {
display: block;
}

h3.separator {
margin: 1em 0 0.5em 0;
background: #f5f5eb;
border-top: 1px solid #e6e6dc;
padding: 2px 0;
}
table.thmiddle th {
vertical-align: middle;
}
table.tdmiddle td {
vertical-align: middle;
}
