
/************************************
      Metaworkflow Proccess 
***********************************/

.roundCorners {
-moz-border-radius-topleft: 6px; 
-moz-border-radius-topright: 6px; 
-moz-border-radius-bottomright: 6px; 
-moz-border-radius-bottomleft: 6px;
-webkit-border-radius: 6px;
}
.photoHolder {
vertical-align: top;
width: 112px;
height: 100px;
text-align: left;
padding-left: 1em;
}
.photoHolder img {
border: 1px solid #ddd;
padding: 5px;
width: 75%;
}
.dotted {
border: 1px dotted #aaa; 
padding-right: 1em; 
padding-left: 1em;	
}

.comment {
border: 1px dotted #aaa;
padding: 1em 0; 
margin: 1em 0;
}
.comment table td p span {
font-weight: normal;
}

.addcomment {
border-top: 2px solid #ddd;
padding: 0 0 0.5em 0;
background: #f5f5f5;
margin: 1em 0;
}
.addcomment form div {
border-top: 1px solid #ddd;
}

#wfprocess .ui-tabs {
padding: 0;
}
#wfprocess .ui-tabs .ui-tabs-nav {
padding: 5px 5px 0 5px;
position: relative;
}
#wfprocess .ui-tabs .ui-tabs-nav li {
float: left;
border-bottom: 0 !important;
margin: 0 0.4em -1px 0;
padding: 0;
list-style: none;
}
#wfprocess .ui-tabs .ui-tabs-nav li a {
display:block;
text-decoration: none;
padding: 0.5em 1em;
}
#wfprocess .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
padding-bottom: 0.1em;
border-bottom: 0;
}
#wfprocess .ui-tabs .ui-tabs-panel {
padding: 1em 1.4em;
display: block;
border: 0;
background: none;
}
#wfprocess .ui-tabs .ui-tabs-hide {
display: none !important;
}

/* widget */
#wfprocess #tabs {
border: 1px solid #ccc;
}
#wfprocess .ui-widget {
font-family: Verdana,Arial,sans-serif;
font-size: 1.0em;
}

#wfprocess .ui-widget-header {
border: none;
border-bottom: 1px solid #bbb;
background: #ddd;
}
#wfprocess .ui-widget-header a {
}
#wfprocess .ui-widget-content {
/*border: 1px solid #bbb;*/
background: #fafafa;
}
#wfprocess .ui-widget-content a {
}
#wfprocess .ui-corner-all {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
}


/* selected tab */

#wfprocess .ui-widget-content .ui-state-active {
border: 1px solid #bbb;
background: #fafafa !important;
}
#wfprocess .ui-state-active a {
text-decoration: underline !important;
}

/* other tabs */

#wfprocess .ui-widget-content .ui-state-default {
border: 1px solid #bbb;
background: #eee;
}
#wfprocess .ui-state-default a {
text-decoration: underline !important;
}
#wfprocess .ui-state-default .ui-icon {
background-image: none;
}






table.mtlist {
margin-top: 1em;
}
table.mtlist div {
background: #eee;
/*padding: 4px;*/
/*padding: 1em;*/
}
table.mtlist table {
border-collapse: collapse;
width: 100%;
/*margin: 1em 0;*/
border: 1px solid #ddd;
}
table.mtlist table th {
text-align: left;
font-weight: normal;
text-align: center;
background: #f5f5f5;
border-top: 3px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 3px 6px;
}
table.mtlist table td {
text-align: center;
padding: 3px 6px !important;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background: #fff;
}
table.mtlist td {
vertical-align: top;
}
table.mtlist td table td {
vertical-align: middle;
}
table.mtlist table td.smalltxt {
font-size: 0.9em;
}



table td.secondaryLink a {
border-bottom: 1px dotted #aaa !important;
cursor: pointer;
font-weight: normal;
color: #444 !important;
text-decoration: none !important;
}
table td.secondaryLink a:hover {
font-weight: normal;
}




.icleanlist ul { list-style: none; padding: 0; margin: 0; }
.icleanlist ul li { list-style: none; padding-left: 0; margin-left: 0; }
