@import url(font-awesome.min.css);


[bennu-localized-string],[bennu-html-editor],[bennu-user-autocomplete],[bennu-spinner]{
    display: none !important;
}

[bennu-code-editor] {
    height:500px;
}

.bennu-code-editor-statusbar{
    border :1px solid #ddd;
    padding:5px;
    margin-top: -11px;
}

button.voiceBtn {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: 0;
}

.interim {
    color: #5BC5F2;
    background-color: whitesmoke;
}

.bennu-html-editor-editor {
    margin-top: 15px;
    height:500px;
    overflow-y: scroll;
}

.bennu-html-editor-input .bennu-localized-string-group {
    margin-bottom: 15px;
}

.has-error .bennu-html-editor-editor {
    border-color: #a94442;
}

.has-error .bennu-html-editor-editor:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.fullscreen {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.fullscreen .bennu-html-editor-editor {
    width: 800px;
    margin: auto;
    margin-top: 70px;
    border-radius: 0px;
    border-style: dashed;
    border-width: 1px;

}

.fullscreen .bennu-html-editor-editor {
    height: 100%;
}

.fullscreen .bennu-html-editor-editor:focus {
    box-shadow: none !important;
}

.fullscreen .bennu-localized-string-group {
    display: inline;

}

.fullscreen .bennu-localized-string-group button {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 5px;
}

.fullscreen .bennu-html-editor-tools {
    background: #f1f1f1;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;

    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    opacity: 0;
    filter: alpha(opacity=0)

}

.fullscreen.visible .bennu-html-editor-tools {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    opacity: 1;
    filter: alpha(opacity=100)
}

.fullscreen .bennu-html-editor-editor {
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    border-color: transparent
}

.fullscreen.visible .bennu-html-editor-editor {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    border-color: #ccc
}

/* datepicker */

/*!
 * Datetimepicker for Bootstrap v3
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget {
    top: 0;
    left: 0;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    border-radius: 4px;
}

.bootstrap-datetimepicker-widget.timepicker-sbs {
    width: 600px;
}

.bootstrap-datetimepicker-widget.bottom:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 7px;
}

.bootstrap-datetimepicker-widget.bottom:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    top: -6px;
    left: 8px;
}

.bootstrap-datetimepicker-widget.top:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -7px;
    left: 6px;
}

.bootstrap-datetimepicker-widget.top:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    position: absolute;
    bottom: -6px;
    left: 7px;
}

.bootstrap-datetimepicker-widget .dow {
    width: 14.2857%;
}

.bootstrap-datetimepicker-widget.pull-right:before {
    left: auto;
    right: 6px;
}

.bootstrap-datetimepicker-widget.pull-right:after {
    left: auto;
    right: 7px;
}

.bootstrap-datetimepicker-widget > ul {
    list-style-type: none;
    margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px;
}

.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
    width: 4px;
    padding: 0;
    margin: 0;
}

.bootstrap-datetimepicker-widget .datepicker > div {
    display: none;
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center;
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0;
}

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
    text-align: center;
    border-radius: 4px;
}

.bootstrap-datetimepicker-widget td {
    height: 54px;
    line-height: 54px;
    width: 54px;
}

.bootstrap-datetimepicker-widget td.day {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover {
    background: #eeeeee;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget td.old,
.bootstrap-datetimepicker-widget td.new {
    color: #999999;
}

.bootstrap-datetimepicker-widget td.today {
    position: relative;
}

.bootstrap-datetimepicker-widget td.today:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #007FFF;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
    background-color: #007FFF;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget td.active.today:before {
    border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget td.disabled,
.bootstrap-datetimepicker-widget td.disabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.bootstrap-datetimepicker-widget td span {
    display: block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px;
}

.bootstrap-datetimepicker-widget td span:hover {
    background: #eeeeee;
}

.bootstrap-datetimepicker-widget td span.active {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget td span.old {
    color: #999999;
}

.bootstrap-datetimepicker-widget td span.disabled,
.bootstrap-datetimepicker-widget td span.disabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.bootstrap-datetimepicker-widget th {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.bootstrap-datetimepicker-widget th.switch {
    width: 145px;
}

.bootstrap-datetimepicker-widget th.next,
.bootstrap-datetimepicker-widget th.prev {
    font-size: 21px;
}

.bootstrap-datetimepicker-widget th.disabled,
.bootstrap-datetimepicker-widget th.disabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
    cursor: pointer;
}

.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background: #eeeeee;
}

.input-group.date .input-group-addon span {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.bootstrap-datetimepicker-widget.left-oriented:before {
    left: auto;
    right: 6px;
}

.bootstrap-datetimepicker-widget.left-oriented:after {
    left: auto;
    right: 7px;
}

.bootstrap-datetimepicker-widget ul.list-unstyled li div.timepicker div.timepicker-picker table.table-condensed tbody > tr > td {
    padding: 0px !important;
}

@media screen and (max-width: 767px) {
    .bootstrap-datetimepicker-widget.timepicker-sbs {
        width: 283px;
    }
}

/* end */
[bennu-datetime], [bennu-time], [bennu-date], [bennu-group] {
    display: none;
}

.bennu-group-list table tr:nth-child(1) td {
    border-top: none;
}

/* typeahead */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    line-height: 30px;
}

textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: auto;
}

.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    line-height: 46px;
}

textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: auto;
}

.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.twitter-typeahead {
    width: 100%;
}

.input-group .twitter-typeahead {
    display: table-cell !important;
    float: left;
}

.twitter-typeahead .tt-hint {
    color: #999999;
}

.twitter-typeahead .tt-input {
    z-index: 2;
}

.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
    cursor: not-allowed;
    background-color: #eeeeee !important;
}

.tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor {
    text-decoration: none;
    outline: 0;
    background-color: #428BCA;
    color: white;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a {
    color: #262626;
}

.tt-dropdown-menu .tt-suggestion p {
    margin: 0;
}

.bennu-group-custom-modal .empty-message {
    font-weight: bold;
    text-align: center;
    color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}

.timepicker-picker .separator {
    padding: 2px;
}

.bennu-html-editor-toolbar .btn.btn-sm{
    padding: 4px 10px;
}

sub{
    vertical-align: sub;
}

sup{
    vertical-align: super;
}

.menu-paragraph{
    min-width: 223px;
}

ul.menu-paragraph li{
    padding-left: 5px;
}

.add-url{
    padding-left: 5px;
    padding-right: 5px;
}

.add-url input{
    width: 200px !important;
}

.btn-group .note-table {
  min-width: 0;
  padding: 5px;
}
.btn-group .note-table .note-dimension-picker {
  font-size: 18px;
}
.btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher {
  position: absolute !important;
  z-index: 3;
  width: 10em;
  height: 10em;
  cursor: pointer;
}
.btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted {
  position: relative !important;
  z-index: 1;
  width: 5em;
  height: 5em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;
}
.btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted {
  position: absolute !important;
  z-index: 2;
  width: 1em;
  height: 1em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;
}

.note-dimension-display{
    text-align: center;
    color:#888;
}

.bennu-html-code-editor-container{
    margin-top: 15px;
}

.bennu-html-code-editor{
    height:500px;

}
/* ----- */
.note-color .dropdown-menu {
  min-width: 340px;
}
.note-color .dropdown-menu .btn-group {
  margin: 0;
}
.note-color .dropdown-menu .btn-group:first-child {
  margin: 0 5px;
}
.note-color .dropdown-menu .btn-group .note-palette-title {
  font-size: 12px;
  margin: 2px 7px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.note-color .dropdown-menu .btn-group .note-color-reset {
  font-size: 11px;
  margin: 3px;
  padding: 0 3px;
  cursor: pointer;
}
.note-color .dropdown-menu .btn-group .note-color-row {
  height: 20px;
}
.note-color .dropdown-menu .btn-group .note-color-reset:hover {
  background: #eee;
}

/* color palette for toolbar and popover */
.note-color-palette {
  line-height: 1;
}
.note-color-palette div .note-color-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
}
.note-color-palette div .note-color-btn:hover {
  border: 1px solid #000;
}

/* --- */

.bennu-spinner-faster{
      -webkit-animation: spin .25s infinite ease-in-out;
      -o-animation: spin .25s infinite ease-in-out;
      animation: spin .25s infinite ease-in-out;
}

.bennu-spinner-slower{
      -webkit-animation: spin 1.25s infinite ease-in-out;
      -o-animation: spin 1.25s infinite ease-in-out;
      animation: spin 1.25s infinite ease-in-out;
}
