<div class="row">
<div class="col-lg-12">
    <span class="error">{{error}}</span>
    <form class="form-horizontal" ng-submit="save()">
      <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="menu.applicationTitle">Title</label>
            <div class="col-sm-4">
                <input type="text" bennu-localized-string="menu.applicationTitle" class="form-control"/>
            </div>
            <label class="col-sm-2 control-label" for="menu.applicationSubTitle">Subtitle</label>
            <div class="col-sm-4">
                <input type="text" bennu-localized-string="menu.applicationSubTitle" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="menu.htmlTitle">HTML Title</label>
            <div class="col-sm-4">
                <input type="text" bennu-localized-string="menu.htmlTitle" class="form-control"/>
            </div>
            <label class="col-sm-2 control-label" for="menu.applicationCopyright">Copyright</label>
            <div class="col-sm-4">
                <input type="text" bennu-localized-string="menu.applicationCopyright" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="supportEmailAddress">Support Email</label>
            <div class="col-sm-4">
                <input type="email" id="supportEmailAddress" name="supportEmailAddress" ng-model="menu.supportEmailAddress" placeholder="Support Email" class="form-control">
            </div>
            <label class="col-sm-2 control-label" for="systemEmailAddress">System Email</label>
            <div class="col-sm-4">
                <input type="email" id="systemEmailAddress" name="systemEmailAddress" ng-model="menu.systemEmailAddress" placeholder="System Email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="logo">Logo</label>
            <div class="col-sm-4">
                <img ng-src="{{logoUrl}}"></img>
                <input type="file" name="logo" onchange="angular.element(this).scope().fileNameChanged(this,'logo')" />
            </div>
            <label class="col-sm-2 control-label" for="favicon">Favicon</label>
            <div class="col-sm-4">
                <img ng-src="{{faviconUrl}}"></img>
                <input type="file" name="favicon" onchange="angular.element(this).scope().fileNameChanged(this,'favicon')" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="logoLinkUrl">Logo Link URL</label>
            <div class="col-sm-4">
                <input type="url" id="logoLinkUrl" name="logoLinkUrl" ng-model="menu.logoLinkUrl" placeholder="Logo Link URL" class="form-control">
            </div>
            <label class="col-sm-2 control-label" for="logoTooltip">Logo Tooltip</label>
            <div class="col-sm-4">
                <input type="text" id="logoTooltip" name="logoTooltip" ng-model="menu.logoTooltip" placeholder="Logo Tooltip" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="systemEmailAddress">Theme</label>
            <div class="col-sm-4">
                <select ng-model="menu.theme" ng-required="true" class="form-control" ng-options="theme for theme in menu.themes">
                </select>
            </div>
            <label class="col-sm-2 control-label" for="documentationUrl">Documentation Page Base Url</label>
            <div class="col-sm-4">
                <input type="text" id="documentationUrl" name="documentationUrl" ng-model="menu.defaultDocumentationBaseUrl" placeholder="Documentation Url" class="form-control">
            </div>
        </div>
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a ui-sref="portal-menu({id: menu.menu.id})" class="btn btn-default">Manage Menu</a>
        </div>
      </fieldset>
    </form>
</div>
</div>

<script>
$('#documentationUrl').popover({
	'trigger':'focus',
	'placement': 'top',
	'title':'Documentation Base Url',
	'html':true,
	'content':'Fill with the base url for the documentation pages, for example: http://fenixedu.org/docs/</br>This url can be referenced using {base} in each functionality documentation url.',
});
</script>
