<div class="row">
    <h4 class="col-sm-6">
        Static Configurations
    </h4>
    <div class="col-sm-offset-3 col-sm-3">
        <input type="text" class="form-control" ng-model="sys.filter" placeholder="Filter..." />
    </div>
</div>
<br />
<table class="table table-striped" style="table-layout: fixed">
    <tbody>
        <tr ng-repeat="property in data.conf | filter:sys.filter | orderBy:'key'">
            <th class="col-sm-4" style="word-wrap: break-word">{{property.key}}</th>
            <td class="col-sm-8" style="word-wrap: break-word" ng-init="hide = hideProperty(property.key)">
                <span ng-show="!hide">{{property.value}}</span>
                <em ng-show="hide">
                    Sensitive value hidden. <a ng-click="hide = false" role="button">Click to show</a>.
                </em>
            </td>
        </tr>
    </tbody>
</table>