<table class="table table-striped" ng-show="data.libraries.length">
    <thead>
        <tr>
            <th>Library</th>
            <th>Build</th>
            <th>JAR File</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="library in data.libraries | orderBy:'jar'">
            <td>
                <h6>{{library['Implementation-Title']}}</h6>
                <small><code>{{library.groupId}}:{{library.artifactId}}:{{library.version}}</code></small>
            </td>
            <td>
                <h6>{{library.creation}}</h6>
                <small>{{library['Build-Jdk']}} - {{library['Built-By']}}</small>
            </td>
            <td>
                <h6 class="small" title="{{library.jar}}">
                    <samp>{{library.jar | filename}}</samp>
                </h6>
                <small><code>{{library.checksum}}</code></small>
            </td>
        </tr>
    </tbody>
</table>


<div class="panel panel-default" ng-show="!data.libraries.length">
    <div class="panel-body">
        <p><span class="glyphicon glyphicon-info-sign"></span> No libraries were found</p>
        <small>This information is typically unavailable in development mode or when using embedded containers.</small>
    </div>
</div>
