<div>
    <ul class="nav nav-tabs">
        <li ui-sref-active="active"><a ui-sref="monitoring.metrics">Metrics</a></li>
        <li ui-sref-active="active"><a ui-sref="monitoring.modules">Modules</a></li>
        <li ui-sref-active="active"><a ui-sref="monitoring.libraries">Libraries</a></li>
        <li ui-sref-active="active"><a ui-sref="monitoring.env">System Properties</a></li>
        <li ui-sref-active="active"><a ui-sref="monitoring.configuration">Static Configurations</a></li>
        <li ui-sref-active="active"><a ui-sref="monitoring.jmx">JMX</a></li>
        <li ui-sref-active="active"><a ui-sref="monitoring.logging">Logging</a></li>
    </ul>
    <br />
    <div ui-view></div>
</div>
