<link href="/xpto/js/libs/codemirror/codemirror.css" rel="stylesheet">
<link href="/xpto/js/libs/codemirror/theme/eclipse.css" rel="stylesheet">
<form>
  <fieldset>
    <legend>Custom Tasks</legend>
    <label>Code</label>
    <textarea id="code" name="code">{{javaCode}}</textarea>
    <button class="btn btn-success btn-compile">Compile</button>
    <button class="btn btn-success btn-run">Run</button>
    <button class="btn btn-success btn-upload">Upload</button>
    <input type="file" style="display: none;" id="javaCodeFile"/>
  </fieldset>
</form>
<div>
	<legend>Output</legend>
	<pre id="result"></pre>
</div>