<form class="form-horizontal">
  <fieldset>
  	<div class="control-group">
  		<label class="control-label" for="type">Task Type</label>
  		<div class="controls">
     		<input type="text" id="type" name="type" value="{{type}}" placeholder="Task Type" readonly>
     	</div>
 	</div>
 	<div class="control-group">
  		<label class="control-label" for="type">Task Name</label>
  		<div class="controls">
     		<input type="text" id="type" name="type" value="{{name}}" placeholder="Task Name" readonly>
     	</div>
 	</div>
 	<div class="control-group">
  		<label class="control-label" for="type">Schedule</label>
  		<div class="controls">
     		<input type="text" id="schedule" name="schedule" value="{{schedule}}" placeholder="Schedule">
     	</div>
 	</div>
    <button id='confirm' class="btn">Add</button>
  </fieldset>
</form>
