<div class="row">
	<div class="col-sm-6 lead">
		Log Details
	</div>
	<div class="col-sm-6">
		<div class="pull-right btn-group">
			<a ui-sref="scheduler.logs({type: log.taskName})" class="btn btn-default">« Back</a>
			<button class="btn btn-default" ng-click="refreshLog()"><i class="glyphicon glyphicon-refresh"/></button>
			<button class="btn btn-default" ng-show="!log.end" ng-click="killTask()">Kill Task</button>
		</div>
	</div>
</div>

<table class="table">
	<tbody>
		<tr>
			<th width="15%">Task</th>
			<td>{{log.taskName}} <samp class="small">{{log.id}}</samp></td>
		</tr>
		<tr>
			<th>Start Time</th>
			<td>{{(log.start | date:'dd MMM yyyy HH:mm:ss') || 'N/A'}}</td>
		</tr>
		<tr>
			<th>End Time</th>
			<td>{{(log.end | date:'dd MMM yyyy HH:mm:ss') || 'N/A'}}</td>
		</tr>
		<tr ng-if="log.user">
			<th>User</th>
			<td>{{log.user}}</td>
		</tr>
		<tr ng-if="log.hostname">
			<th>Host</th>
			<td>{{log.hostname}}</td>
		</tr>
		<tr>
			<th>Status</th>
			<td ng-if="log.end">
				<i class="glyphicon glyphicon-ok" ng-if="log.state == 'SUCCESS'" />
				<i class="glyphicon glyphicon-remove" ng-if="log.state == 'FAILURE'" />
			</td>
			<td ng-if="!log.end">
				<i class="glyphicon glyphicon-play" />
			</td>
		</tr>
		<tr ng-if="!log.end">
			<th>Thread</th>
			<td>
				<h5><a href="" ng-click="showThread = !showThread">{{thread.name}} ({{thread.id}})</a></h5>
				<pre ng-show="showThread" style="overflow-y: scroll">{{thread.stacktrace}}</pre>
			</td>
		</tr>
		<tr ng-show="log.code">
			<th><a href="" ng-click="showCode = !showCode">Code</a></th>
			<td>
				<div class="control-group" ng-show="showCode">
					<div class="controls">
						<div ui-codemirror="{onLoad: codemirrorLoaded}" ui-codemirror-opts="editorOptions" ng-model="log.code"></div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-success" ng-click="load()">Load</button>
					</div>
				</div>
			</td>
		</tr>
		<tr ng-if="log.stackTrace">
			<th>Stacktrace</th>
			<td>
				<pre>{{log.stackTrace}}</pre>
			</td>
		</tr>
		<tr ng-if="logs">
			<th>Log</th>
			<td>
				<pre>{{logs}}</pre>
			</td>
		</tr>
		<tr ng-if="log.files">
			<th>Files</th>
			<td>
				<ul class="list-unstyled">
					<li ng-repeat="file in log.files">
						<a href="{{contextPath}}/api/bennu-scheduler/log/{{log.taskName}}/{{log.id}}/{{file}}">{{file}}</a>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
